.single-product {
    .auction-ajax-change {
        .auction_form {
            .bid_button {
                @include buttonStyle();
            }
            input {
                &[name="bid_value"] {
                    width: 45px;
                    height: 50px;
                    border: 1px solid $border_gray_color;
                    border-left:  0;
                    border-right: 0;
                }
                &.plus {
                    width: 50px !important;
                    height: 50px !important;
                    border: 1px solid $border_gray_color;
                    @include border-radius(5px 0 0 5px !important);
                    background-color: white;
                    padding: 0;
                    @include mitrRegular(25px);
                    font-weight: 100 !important;
                    &:hover {
                        color: $black_color;
                    }
                }
                &.minus {
                    width: 50px !important;
                    height: 50px !important;
                    border: 1px solid $border_gray_color;
                    @include border-radius(0 5px 5px 0 !important);
                    background-color: white;
                    padding: 0;
                    @include mitrRegular(25px);
                    font-weight: 100 !important;
                    &:hover {
                        color: $black_color;
                    }
                }
            }
        } 
        .sa-watchlist-action {
            @include buttonStyle();
            padding: 5px 20px;
            &:before {
                display:  none;
            }
        }
        .wsawl-link {
            float: left;
        }
    }
}
