

body.woocommerce-cart {
    .woocommerce {
        margin: {
            left: 8px;
            right: 22px;
        }
        h1.page-title {
            @include mitrRegular(60px);
            color: $main_color;
            padding-top: 0;
            text-align: center;
        }
        .cart-checkout-nav {
            padding: 0px 0 20px;
            text-align: left;
        }
        //sidebar
        .cart-order-details {
            width: 445px;
            background-color: $main_color;
            float: right;
            padding: 0 !important;
            .shop_table_responsive {
                color: white;
                .amount {
                    color: white;
                }
                .order-total {
                    th, td {
                        color: white;
                        @include mitrRegular(20px);
                    }
                }
                th, td {
                    color: white;
                    @include mitrRegular(20px);
                }
            }
            .cart-collaterals {
                border: 0 !important;
                padding: 30px 30px;
                .cart_totals {
                    h2 {
                        @include mitrRegular(24px);
                        color: white;
                        border-bottom: 1px dashed white;
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 26px;
                            height: 28px;
                            margin-right: 15px;
                            position: relative;
                            float: left;
                            background: {
                                image: url(../images/order-sumary-icon.svg);
                                size: 26px 28px;
                                repeat: no-repeat;
                                position: center;
                            }
                        }
                    }
                }
            }
            .checkout_coupon {
                .to_open-coupon {
                    @include mitrRegular(20px);
                    color: white;
                    display: block;
                    margin-bottom: 10px;
                    .et-icon {
                        display: none;
                    }
                }
                .input-text {
                    @include textInputStyle();
                }
                input[type="submit"] {
                    @include buttonStyle2();
                    margin-top: 30px;
                }
            }

            // giftcard form
            #pwgc-redeem-form {
                margin-top: 50px;
                label[for="pwgc-redeem-gift-card-number"] {
                    @include mitrRegular(20px);
                    color: white;
                    display: block;
                    margin-bottom: 10px;
                }
                br {
                    display: none;
                }
                #pwgc-redeem-gift-card-number {
                    @include textInputStyle();
                    width: 100%;
                }
                input[type="submit"] {
                    @include buttonStyle2();
                    margin-top: 30px;
                }
            }
            .checkout-button {
                @include buttonStyle2();
                min-height: 70px;
                @include mitrRegular(34px);
                height: auto;
                margin-top: 50px;
            }
        }
        // main content 
        .cart-order-main-content {
            width: calc(100% - 445px);
            padding: {
                right: 30px;
            }
            .cart-products-grid {
                .cart_item {
                    margin-bottom: 25px;
                    .product-thumbnail {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .cart-item-details {
                        padding-top: 10px;
                        @include mitrRegular(20px);
                        color: $black_color;
                        .variation {
                            &:before, &:after {
                                content: '';
                                display: table;
                                clear: both;
                                float: none;
                            }
                            dt {
                                width: auto;
                                float: left;
                            }
                            dd {
                                width: 130px;
                                float: right;
                                text-align: right;
                                position: relative;
                                &:before {
                                    content: ':';
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            }
                        }
                    }
                    .product-price {
                        display: none;
                    }
                    .product-quantity {
                        &:before {
                            content: attr(data-title);
                            display: block;
                            float: left;
                            @include mitrRegular(20px);
                            color: $black_color;
            
                        }
                        &:after {
                            content: '';
                            display: table;
                            float: none;
                            clear: both;
                        }
                        .quantity {
                            float: right;
                            margin-right: 0;
                            &:before {
                                content: ':';
                                display: block;
                                position: absolute;
                                top: 0;
                                left: -37px;
                                @include mitrRegular(20px);
                                color: $black_color;
                            }
                        }
                    }
                    .product-subtotal {
                        &:before {
                            content: attr(data-title);
                            display: block;
                            float: left;
                            @include mitrRegular(20px);
                            color: $black_color;
            
                        }
                        &:after {
                            content: '';
                            display: table;
                            float: none;
                            clear: both;
                        }
                        .woocommerce-Price-amount {
                            &.amount {
                                @include mitrRegular(20px);
                                color: $black_color;
                                float: right;
                                position: relative;
                                width: 130px;
                                text-align: right;
                                &:before {
                                    content: ':';
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    @include mitrRegular(20px);
                                    color: $black_color;
                                }
                            }
                        }
                    }
                    .mobile-price {
                        display: none;
                    }
                    .remove-item {
                        display: inline-block;
                        margin-top: 15px;
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 23px;
                            height: 30px;
                            background: {
                                image: url(../images/bin-icon.png);
                                position: center;
                                size: 100% auto;
                                repeat: no-repeat;
                            }
                        }
                        &:hover, &:focus, &:active {
                            &:before {
                                content: '';
                                display: inline-block;
                                width: 23px;
                                height: 30px;
                                background: {
                                    image: url(../images/bin-hover-icon.png);
                                    position: center;
                                    size: 100% auto;
                                    repeat: no-repeat;
                                }
                            }
                        }
                    }
                    .minus {
                        @include border-radius(5px 0 0 5px);
                    }
                    .plus {
                        @include border-radius(0 5px 5px 0);
                    }
                }
            }  
            .to_open-coupon {
                .et-coupon {
                    &::before {

                    }
                }
            }
            button[name="update_cart"] {
                @include buttonStyle();
            }  
        }
        // Hide reward form
        .fp_apply_reward, .sumo_reward_points_current_points_message, #custom_html-16{
            display: none !important;
        }
    }
}
