.my-header-txt {
    @include mitrRegular(60px);
}
.my-text-color {
    color: $main_color;
}
.my-font-style {
    font: {
        family: 'Mitr', sans-serif;
        weight: 400;
    }
}
.my-text-black-color {
    color: $black_color;
}
.my-btn-style {
    @include buttonStyle();
}
.my-text-input-style {
    @include textInputLargeStyle();
}
.my-textarea-input-style {
    @include textInputLargeStyle();
}
.ele-btn-style {
    .elementor-button {
        @include buttonStyle();
    }
}
