body {
   font: {
       font-family: 'Mitr', sans-serif;
   }
   color: $black_color;
}
.container-fluid {
   padding: {
       left: 30px !important;
       right: 30px !important;
   }

   //page is created by elementor
   &.content-page {
       padding: {
           left: 20px !important;
           right: 20px !important;
       }
   }
}
.shop-full-width {
   padding: {
       left: 30px;
       right: 30px;
   }
}

.shop-filters {
   @include border-radius(5px !important);
   border: 1px solid $border_black_color;
   padding: 30px;
   margin-bottom: 60px;
   // filter color
   .type-color  {
       min-width: 65px;
       height: 40px !important;
       @include border-radius(5px !important);
       &:before {
           top: 0 !important;
           bottom: 0 !important;
           left: 0 !important;
           right: 0 !important;
       }
       .st-custom-attribute {
           @include border-radius(5px !important);
           top: 0 !important;
           bottom: 0 !important;
           left: 0 !important;
           right: 0 !important;
       }
   }
   // size button of filter
   .st-swatch-size-large {
       .subtype-square {
           @include border-radius(5px !important);
           border: 1px solid $border_gray_color;
           min-width: 65px;
           height: 40px;

           span {
               @include mitrRegular(17px !important);
               color: $black_color !important;
               line-height: 1.2;
           }
           &.selected {
               background-color: $main_color !important;
               span {
                   color: white !important;
               }
           }
       }
   }
   
   .etheme_swatches_filter {
       /** Color */
       &:nth-child(1) {

       }
       /** Color */
       &:nth-child(2) {
    
       }
   }
   .widget-title {
       @include mitrRegular(20px);
       border-bottom: 0 !important;
   }

   //price filter
   .price_slider_wrapper {
       .ui-slider-range {
           height: 20px !important;
           @include border-radius(30px !important);
           background-color: #FEACAC !important;
       }
       .ui-slider .ui-slider-handle {
           width: 25px !important;
           height: 25px !important;
           @include border-radius(25px !important);
           &:hover {
               transform: translateY(-50%) scale(1) !important;
               &:last-of-type {
                   transform: translate(-100%, -50%) scale(1) !important;
               }
           }
       }
       .ui-slider-horizontal {
           height: 20px !important;
           @include border-radius(20px !important);
       }

       .price_slider_amount {
           display: block !important;
           flex-direction: unset !important;
           justify-content: unset !important;

           //clear filter button
           .et-reset-price {
               display: block;
               width: 100%;
               max-width: 394px;
               height: 50px;
               border: 1px solid $main_color;
               @include border-radius(5px !important);
               @include mitrRegular(24px);
               color: $main_color;
               position: relative;
               top: 20px;
           }
           .price_label {
               display: block;
               width: 100%;
               @include mitrRegular(15px !important);
               position: relative;
               bottom: 65px;
           }
       }
   } 
}

.ajax-results-wrapper {
   @include border-radius(5px);
}
.archive {
   // Product category page
   &.tax-product_cat {
       .site-header.sticky {
           margin-bottom: 80px;
       }

       /*  Title on project category */
       .product-category-title {
           color: $main_color;
           @include mitrRegular(60px);
           text-align:center;
       }

       /* Hide grid switcher on desktop and mobile version */
       .filter-content {
           display: block !important;

           // toggle filter btn
           .open-filters-btn {
                display: block !important;
                float: right !important;
                margin-right: 0; 
               .et-icon {
                   display: none !important;
               }
               a {
                   padding-left: 0 !important;
                   min-width: 160px;
                   text-align: center; 
                   @include buttonStyle(); 
                    line-height: 46px;
               }

           }
           .woocommerce-ordering {
               display: block !important;
               float:  left !important;
               margin-bottom: 5px;
               label {
                   @include mitrRegular(17px);
                   color: $black_color;
                   display: inline-block;
               }
               select {
                   display: inline-block !important;
                   @include border-radius(5px);
                   height: 45px !important;
                   min-width: 255px !important;
                   border: 1px solid $border_gray_color;
                   color: $black_color;
                   @include mitrRegular(17px);
               }
           }
           .view-switcher {
               display: none;
           }
           &:after, &:before {
               content: '';
               display: table;
               width: 100%;
           }
       }

       /* TODO:: hide products-per-page but we probably need it later */
       .products-per-page {
           display: none;
       }
       .back-history {
           display: none;
       }

       .product-details {

           // Hide box for selecting color and size
           .st-swatch-popup {
               display: none !important;
           }
       }
   }
}
.woocommerce-breadcrumb {
   margin: {
       left: -15px;
       bottom: 10px;
   }

}
//Change color of hamburger icon and cart icon
.et_b_header-mobile-menu, .et_b_header-cart {
   .a {
       fill: $main_color !important;
   }
}
//Override mobile sidebar menu
.et-off-canvas {
   > .et-mini-content {
       max-width: 438px !important;
       background-color: $main_color !important;

       //Toggle mobile menu
       .et-toggle {
           bottom: 145px !important;
           left: calc(50% - 25px) !important;
           top: auto;
           width: 50px;
           height: 50px;
           background-image: url(../images/arrow-left.svg);
           background-position: center;
           background-size: 10px 15px;
           background-repeat: no-repeat;
           z-index: 999999;
           svg {
               display: none !important;
           }
       }
   }
}
.footer-newsletter {
   padding: {
       top: 30px;
       bottom: 40px;
   }
   margin-bottom: 60px;
   background-color: $border_gray_color;
   h3 {
       @include mitrRegular(60px);
       color: $main_color;
       margin-bottom: 30px;
   }
   h4 {
       @include mitrRegular(34px);
       color: $main_color;
   }
   .mailchimp-form-wrapper {
       text-align: center;
       input[type="email"] {
           @include border-radius(5px);
           border: 1px solid $main_color;
           background-color: $border_gray_color;
           @include mitrRegular(24px);
           display: inline-block;
           max-width: 350px;
           height: 50px;
           box-sizing: border-box;
           color: $main_color;
           @include input-placeholder {
               @include mitrRegular(24px);
               color: $main_color;
           }
       }
       input[type="submit"] {
           @include buttonStyle();
           background-color: $border_gray_color;
           color: $main_color;
           margin-left: 30px;
       }
   }
}
footer {
    a {
        color: white;
        &:hover {
            color: white;
        }
    }
}

/**
* Single Product 
*/ 
.single-product {
   .single-product-breadcumb {
       .span-title {
           color: $main_color;
       }
       .back-history {
           display: none !important;
       }
   }
   .single-product-wide {
       margin: {
           left: 30px;
           right: 30px;
       }
       // Product gallery box
       .product-images {
           .woocommerce-product-gallery {
               margin-bottom: 1px;
           }
       }
       // Product description box
       .product-information {
           .woocommerce-breadcrumb {
               display: none !important;
           }
           padding-top: 0 !important;
           .product_title {
               @include mitrRegular(32px);
               color: $black_color;
               float: left;
               width: calc(100%/ 1.5);
           }
           .price {
               float: right;
               width: calc(100%/3);
               text-align: right;
   
               //nornal price
               ins, bdi {
                   @include mitrRegular(34px);
                   color: $main_color;
               }
               //discount price
               del {
                   @include mitrRegular(24px);
                   color: $black_color;
               }
           }
           // Hide rating on single product page in product detail section
           .woocommerce-product-rating {
               //display: none !important;
           }
           .woocommerce-product-details__short-description {
               &:before {
                   display: table;
                   content: '';
                   width: 100%;
                   clear: both;
               }
           }
           //choose color 
           .st-color-swatch {
               margin-bottom: 50px;
               .type-color {
                   width: 65px;
                   height: 65px;
                   margin: {
                       left: 15px;
                       right: 15px;
                   }
                   @include border-radius(5px);
                   .st-custom-attribute {
                       @include border-radius(5px);
                       top: 0;
                       bottom: 0;
                       left: 0;
                       right: 0;
                   }
               }
           }
           //size
           .st-swatch-size-large {
               margin-left: 5px;
               .subtype-square {
                   min-width: 65px;
                   height: 40px;
                   @include mitrRegular(17px);
                   color: $black_color;
                   @include border-radius(5px);
                   margin: {
                       left: 15px;
                       right: 15px;
                   }
                   &.selected {
                       background-color: $main_color;
                       color: white;
                       border: 1px solid $main_color;
                   }
                   .st-custom-attribute {
                       @include mitrRegular(17px);
                   }
               }
           }
           .variations {
               display: block !important;
               .label {
                   float: left;
                   display: block;
                   width: auto;
                   label[for="pa_color"] {
                       margin-top: 20px;
                   }
                   label {
                       &:after {
                           content: ':';
                           display: inline-block;
                           margin-left: 5px;
                       }
                   }
               }
               .value {
                   float: left;
                   display: block;
                   width: auto;
                   margin-bottom: 15px;
               }
               tr {
                   &:after{
                       display: table;
                       content: '';
                       clear: both;
                       width: 100%;
                   }
               }
           }
           .quantity {
               height: 50px;
               margin-bottom: 30px;
               .minus {
                   @include border-radius( 5px 0 0 5px);
                   width: 50px;
               }
               .plus {
                   @include border-radius( 0 5px 5px 0);
                   width: 50px;
               }
           }
           .single_add_to_cart_button {
               display: block;
               width: 540px;
               clear: both;
               height: 88px;
               @include border-radius(5px);
               border: 1px solid $main_color;
               @include mitrRegular(34px);
               color: $main_color;
               background-color: white;
               &:hover {
                   background-color: $main_color;
                   color: white;
               }
               &:before {
                   display: none !important;
               }
           }

           // radio button for choosing color
           .variations_form {
               margin-bottom: 50px;
               .type-color {
                   .fake-radio {
                       width: 25px;
                       height: 25px;
                       @include border-radius(25px !important);
                       background-color: white;
                       border: 1px solid $main_color;
                       position: relative;
                       top: 75px;
                       left: 15px;
                       box-sizing: border-box;
                   }
                   &.selected {
                       .fake-radio {
                           &:before {
                               content: '';
                               display: block;
                               width: 15px;
                               height: 15px;
                               position: relative;
                               margin: 4px auto;
                               background-color: $main_color;
                               @include border-radius(15px !important);
                           }
                       }   
                   }
                   &:hover {
                       &:after {
                           display: none !important;
                       }
                   }
               }
           }
           .yith-wcwl-add-to-wishlist {
               float: left;
               width: auto !important;
               margin-top: 0 !important;
               margin-left: 10px;
               .add_to_wishlist {
                   @include buttonStyle();
                   min-width: 255px;
                   text-align: center;
                   @include mitrRegular(24px);
                   line-height: 46px;
                   &:before {
                       display: none !important;
                   }
               }
               .yith-wcwl-icon {
                   display: none !important;
               }
           }
           label[for="gift-card-amount"] {
               margin-top: 10px;
               margin-right: 15px;
           }
           #gift-card-amount {
               @include selectStyle();
           }
           #pwgc-purchase-container {
               input[type="text"] {
                   @include textInputStyle();
               }
               textarea {
                   @include textareaStyle();
               }
               label {
                   @include mitrRegular(17px);
               }
           }
       }
       .tab-woocommerce_cmprodev_rating_tab {
           .rating-wrapper {
               &:after {
                   display: table;
                   content: '';
                   width: 100%;
                   clear: both;
               }
               .star-icon {
                   float: left;
                   width: 100px;
                   .star-rating span:before {
                       color: $main_color;
                   }
               }
               .process-box {
                   float: left;
                   width: calc(100% - 150px);
                   box-shadow: none;
                   .progress {
                       @include border-radius(20px);
                       background-color: $border_gray_color;
                       box-shadow: none;
                       .progress-bar-danger {
                           background-color: $main_color;
                           @include border-radius(20px);
                           box-shadow: none;
                       }
                   }
               }
               .rating-count {
                   float: left;
                   width: 50px;
                   text-align: right;
                   @include mitrRegular(15px);
               }
           }
       }
       .tab-woocommerce_cmprodev_share_tab {
           .et-icon {
               font-size: 24px;
           }
       }
       .accordion-title {
           &.et-opened {
               border-bottom: 0;
               a {
                   &:after {
                       display: inline-block;
                       content: '';
                       position: absolute;
                       right: 0px;
                       top: 50%;
                       line-height: 1;
                       background: {
                           image: url('../images/black-arrow-up.svg');
                           size: 20px 13px;
                           position: center;
                           repeat: no-repeat;
                       }
                       width: 20px;
                       height: 13px;
                   }
               }
           }
           a {
               @include mitrRegular(17px);
               padding: 12px 14px 12px 0;
               &:hover {
                   color: $main_color;
               } 
               &:after {
                   display: inline-block;
                   content: '';
                   position: absolute;
                   right: 0px;
                   top: 50%;
                   line-height: 1;
                   background: {
                       image: url('../images/black-arrow-down.svg');
                       size: 20px 13px;
                       position: center;
                       repeat: no-repeat;
                   }
                   width: 20px;
                   height: 13px;
               }
           }
       }
       .woocommerce-Reviews {
           .woocommerce-Reviews-title, .avatar {
               display: none !important;
           }
           .comment_container {
               background-color: $border_gray_color;
               padding: 15px 20px;
               position: relative;
               &:after {
                   content: '';
                   display: block;
                   width: 0px;
                   height: 0;
                   border-left: 8px solid transparent;
                   border-right: 8px solid transparent;
                   border-bottom: 16px solid $border_gray_color;
                   @include transform(rotate(90deg));
                   bottom: -8px;
                   position: absolute;
                   left: 0px;
               }
           }
           .star-rating:before, .star-rating span:before, #review_form .stars a:before {
               color: $border_black_color;
           }
           .star-rating span:before, #review_form .stars a.active:before, #review_form .stars a:hover:before {
               color: $main_color;
           }
           .woocommerce-review__author {
               display: inline-block !important;
               @include mitrRegular(15px);
               color: #BABABA;
               margin-right: 7px;
               &:after {
                   content: ', ';
                   display: inline-block;
                   @include mitrRegular(15px);
                   color: #BABABA;
               }
           }
           time {
               display: inline-block !important;
               @include mitrRegular(15px);
               color: #BABABA;
           }
           .woocommerce-review__dash {
               display: none !important;
           }
           .description {
               margin-bottom: 50px;
               p {
                   @include mitrRegular(17px);
                   color: $black_color;
               }
           }
           .comment-reply-title {
               @include mitrRegular(20px);
               color: $main_color;
               border-bottom: 0 !important;
           }
           .comment-form-rating {
               .stars {
                   float: left;
               }
               label[for="rating"] {
                   float: left;
                   margin-right: 20px;
               }
           }
           .comment-form-comment {
               label[for="comment"] {
                   display: none !important;
               }
           }
           .commentlist li {
               padding-bottom: 37px;
           }

            // Review form
           .comment-form { 
               display: flex;
               flex-direction: column;
               label {
                   &[for="author"], &[for="email"] {
                       display: none !important;
                   }
               }
               .comment-notes {
                   display:  none !important;
               }
               .comment-form-rating {
                   @include order(1);
               }
              .comment-form-author {
                  @include order(2);
              }
              .comment-form-email {
                   @include order(3);
               }
               .comment-form-comment {
                   @include order(4);
               }
               .comment-form-cookies-consent {
                   @include order(5);
               }
               .form-submit {
                   @include order(6);
               }
               input[type="text"], input[type="email"] {
                   height: 70px;
                   @include border-radius(5px);
                   @include input-placeholder {
                       color: $black_color;
                       @include mitrRegular(17px);
                     }
               }
               textarea {
                   @include border-radius(5px);
                   @include input-placeholder {
                       color: $black_color;
                       @include mitrRegular(17px);
                   }
               }
               input[type="submit"] {
                   @include border-radius(5px);
                   @include buttonStyle();
                   min-width: 255px;
               }
           }
       }
       .tab-content {
           padding: 0 30px 20px 0;
       }
   }

   //swiper related products
   .related-products {
       .swiper-container {
           width: 100% !important;
           max-width: 100%;
           .swiper-slide {
               padding: 0;
               .product-title {
                   @include mitrRegular(20px);
                   
                   a {
                       color: $black_color !important;
                   }
               }
               .price {
                   @include mitrRegular(20px);
                   color: $black_color;
               }
           }
       }
       .swiper-button-next {
           background-color: transparent !important;
           right: 0;
           width: 50px;
           height: 50px;
           @include border-radius(50px);
           border: 2px solid #BABABA;
           opacity: 1 !important;
           &:before {
               width: 30px;
               height: 30px;
               background: {
                   image: url('../images/gray-arrow-left.svg');
                   size: 10px auto;
                   position: center;
                   repeat: no-repeat;
               }
               position: absolute;
               left: 0;
               top: 0;
               content: '';
               margin: auto;
               right: 0;
               bottom: 0;
               content: '';
               @include transform(rotate(180deg));
           }
           &:hover {
               border: 2px solid $main_color;
               background-color: $main_color !important;
               &:before {
                   background: {
                       image: url('../images/white-arrow-right.svg');
                   }
                   @include transform(rotate(0deg));
               }
           }
       }

       .swiper-button-prev {
           background-color: transparent !important;
           left: 0;
           width: 50px;
           height: 50px;
           @include border-radius(50px);
           border: 2px solid #BABABA;
           opacity: 1 !important;
           &:before {
               width: 30px;
               height: 30px;
               background: {
                   image: url('../images/gray-arrow-left.svg');
                   size: 10px auto;
                   position: center;
                   repeat: no-repeat;
               }
               position: absolute;
               left: 0;
               top: 0;
               content: '';
               margin: auto;
               right: 0;
               bottom: 0;
               content: '';
               @include transform(rotate(0deg));
           }
           &:hover {
               border: 2px solid $main_color;
               background-color: $main_color !important;
               &:before {
                   background: {
                       image: url('../images/white-arrow-right.svg');
                   }
                   @include transform(rotate(180deg));
               }
           }
       }
   }
   .related-products-title {
       @include mitrRegular(34px);
       color: $main_color;
       margin: {
           top: 30px;
           bottom: 30px;
       }
   }

   /*
   * CMPRODEV product swiper
   */
    div[class*="product-swiper"] {
        &.swiper-container {
            width: 100% !important;
            max-width: 100%;
            .swiper-slide {
                .product-title {
                    @include mitrRegular(20px);
                    
                    a {
                        color: $black_color !important;
                    }
                }
                .price {
                    @include mitrRegular(20px);
                    color: $black_color;
                }
                .product-content-image img {
                    @include border-radius(5px);
                }
            }
        }
        .swiper-button-next {
            background-color: transparent !important;
            right: 0;
            width: 50px;
            height: 50px;
            @include border-radius(50px);
            border: 2px solid #BABABA;
            opacity: 1 !important;
            background-image: none !important;
            &:before {
                width: 30px;
                height: 30px;
                background: {
                    image: url('../images/gray-arrow-left.svg');
                    size: 10px auto;
                    position: center;
                    repeat: no-repeat;
                }
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                margin: auto;
                right: 0;
                bottom: 0;
                content: '';
                @include transform(rotate(180deg));
            }
            &:hover {
                border: 2px solid $main_color;
                background-color: $main_color !important;
                &:before {
                    background: {
                        image: url('../images/white-arrow-right.svg');
                    }
                    @include transform(rotate(0deg));
                }
            }
        }
        .swiper-button-prev {
            background-color: transparent !important;
            left: 0;
            width: 50px;
            height: 50px;
            @include border-radius(50px);
            border: 2px solid #BABABA;
            opacity: 1 !important;
            background-image: none !important;
            &:before {
                width: 30px;
                height: 30px;
                background: {
                    image: url('../images/gray-arrow-left.svg');
                    size: 10px auto;
                    position: center;
                    repeat: no-repeat;
                }
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                margin: auto;
                right: 0;
                bottom: 0;
                content: '';
                @include transform(rotate(0deg));
            }
            &:hover {
                border: 2px solid $main_color;
                background-color: $main_color !important;
                &:before {
                    background: {
                        image: url('../images/white-arrow-right.svg');
                    }
                    @include transform(rotate(180deg));
                }
            }
        }
    }
    .upsell-products-title {
        @include mitrRegular(34px);
        color: $main_color;
        margin: {
            top: 30px;
            bottom: 30px;
        }
    }

    .owl-carousel.product-owlcarousel {
        .owl-stage {
            left: -200px;
        }
        .owl-item {
            padding: 0;
            .product-title {
                @include mitrRegular(20px);
                
                a {
                    color: $black_color !important;
                }
            }
            .price {
                @include mitrRegular(20px);
                color: $black_color;
            }
            .product-content-image {
                img {
                    @include border-radius(5px);
                    overflow: hidden;
                }
            }
        }
        .owl-nav {
            position: absolute;
            top: calc(50% - 50px);
            left: 0;
            right: 0;
            .owl-next {
                background-color: transparent !important;
                right: 0;
                width: 50px;
                height: 50px;
                @include border-radius(50px);
                border: 2px solid #BABABA;
                opacity: 1 !important;
                position: absolute;
                outline: none !important;
                &:before {
                    width: 30px;
                    height: 30px;
                    background: {
                        image: url('../images/gray-arrow-left.svg');
                        size: 10px auto;
                        position: center;
                        repeat: no-repeat;
                    }
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    margin: auto;
                    right: 0;
                    bottom: 0;
                    content: '';
                    @include transform(rotate(180deg));
                }
                &:hover {
                    border: 2px solid $main_color;
                    background-color: $main_color !important;
                    &:before {
                        background: {
                            image: url('../images/white-arrow-right.svg');
                        }
                        @include transform(rotate(0deg));
                    }
                }
            }
            .owl-prev {
                background-color: transparent !important;
                left: 0;
                width: 50px;
                height: 50px;
                @include border-radius(50px);
                border: 2px solid #BABABA;
                opacity: 1 !important;
                position: absolute;
                outline: none !important;
                &:before {
                    width: 30px;
                    height: 30px;
                    background: {
                        image: url('../images/gray-arrow-left.svg');
                        size: 10px auto;
                        position: center;
                        repeat: no-repeat;
                    }
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    margin: auto;
                    right: 0;
                    bottom: 0;
                    content: '';
                    @include transform(rotate(0deg));
                }
                &:hover {
                    border: 2px solid $main_color;
                    background-color: $main_color !important;
                    &:before {
                        background: {
                            image: url('../images/white-arrow-right.svg');
                        }
                        @include transform(rotate(180deg));
                    }
                }
            }
        }
    }
    

   //TODO:: Hide size guide
   .size-guide {
       display: none !important;
   }
}

//change star rating color
.star-rating span:before, #review_form .stars a.active:before, #review_form .stars a:hover:before {
       color: $main_color;
}
.out-of-stock {
   @include border-radius(5px);
   color: white !important;
   background-color: rgba($main_color, 0.8) !important;
}
.btn-style {
   @include buttonStyle();
   text-align: center;
   &.big {
       height: 90px;
       min-width: 445px;
       @include mitrRegular(34px);
       padding: 17px;
   }
}

// overide wishlist icon
.product-view-default .yith-wcwl-add-to-wishlist .show a:before, .product-view-default .wishlist-fragment a:before {
   content: '' !important;
   display: inline-block;
   background: {
       image: url(../images/hart-icon.png);
       position: center;
       size: 100% auto;
       repeat: no-repeat;
   }
   width: 30px;
   height: 30px;
}
.product-view-default .content-product .yith-wcwl-add-to-wishlist .show a, .product-view-default .content-product .wishlist-fragment a {
   opacity: 1 !important;
}
.yith-wcwl-add-to-wishlist.wishlist-fragment .yith-wcwl-wishlistexistsbrowse a::before, .yith-wcwl-add-to-wishlist.wishlist-fragment .yith-wcwl-wishlistaddedbrowse a::before {
   font-size: 26px;
   background: {
       image: url(../images/hart-icon-active.png)
   }
}
.woocommerce-message {
    background: $light_pink_color;
    @include border-radius(5px);
    border: 1px solid $border_gray_color;
    border-left: 3px solid $main_color;
    color: white;
    @include mitrRegular(24px);
    li {
        @include mitrRegular(24px);
        color: white;
    }
}
.woocommerce-error {
    background: $light_pink_color;
    @include border-radius(5px);
    border: 1px solid $border_gray_color;
    border-left: 3px solid $main_color;
    color: white;
    @include mitrRegular(24px);
    li {
        @include mitrRegular(24px);
        color: white;
    }
}