@mixin mitrRegular($size) {
    font: {
        family: 'Mitr', sans-serif;
        weight: 400;
        size: $size
    }
}
@mixin buttonStyle() {
    @include mitrRegular(24px);
    @include border-radius(5px !important);
    height: 50px;
    border: 1px solid $main_color;
    color: $main_color;
    background-color: white;
    display: inline-block;
    text-align: center;
    &:hover, &:focus {
        background-color:$main_color;
        color: white;
    }
}

@mixin buttonLargeStyle() {
    @include mitrRegular(34px);
    @include border-radius(5px !important);
    height: 90px;
    border: 1px solid $main_color;
    color: $main_color;
    background-color: white;
    display: inline-block;
    max-width: 445px;
    width: 100%;
    text-align: center;
    &:hover, &:focus {
        background-color:$main_color;
        color: white;
    }
}

@mixin textInputLargeStyle  {
    border: 1px solid $border_gray_color;
    @include border-radius(5px !important);
    box-sizing: border-box;
    min-height: 70px;
    padding: 20px 30px;
    @include mitrRegular(20px);
    color: $black_color;
    @include input-placeholder {
        @include mitrRegular(20px);
        color: $black_color;
    }
}

@mixin textInputStyle  {
    border: 1px solid $border_gray_color;
    @include border-radius(5px !important);
    box-sizing: border-box;
    min-height: 50px;
    padding: 20px 30px;
    @include mitrRegular(20px);
    color: $black_color;
    @include input-placeholder {
        @include mitrRegular(20px);
        color: $black_color;
    }
}

@mixin buttonStyle2  {
    @include border-radius(5px);
    color: white;
    @include mitrRegular(20px);
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: $main_color;
    border: 1px solid white;
    &:hover {
        background-color: white;
        color: $main_color;
        border-color: $main_color;
    }
}

@mixin  selectStyle {
    @include border-radius(5px);
    @include mitrRegular(20px);
    text-align: center;
    width: 100%;
    height: 45px;
    max-width: 255px;
    background-color: white;
    border: 1px solid $border_gray_color;
    color: $black_color;
    display: inline-block;
}

@mixin textareaStyle  {
    border: 1px solid $border_gray_color;
    @include border-radius(5px !important);
    padding: 17px;
    @include mitrRegular(20px);
    width: 100%;
    color: $black_color;
}