.woocommerce-account {
    &.woocommerce-edit-account {
        .woocommerce-EditAccountForm {
            fieldset {
                width: 100%;
                border: 1px solid $border_gray_color;
                @include border-radius(5px);
                margin-bottom: 30px !important;
                legend {
                    @include mitrRegular(20px);
                }
            }
            [name="save_account_details"] {
                @include buttonStyle();
                @include mitrRegular(34px);
                color: $main_color;
                height: 90px;
                max-width: 445px;
                width: 100%;
            }
            .input-text {
                @include textInputLargeStyle();
            }
            label {
                @include mitrRegular(20px);
                .required {
                    color: $main_color;
                }
            }
            .form-row-first, .form-row-last {
                margin-bottom: 30px;
            }
        }
    }
}