.woocommerce-account {
    //My Orders Overiew Page
    &.woocommerce-orders {
        .woocommerce-MyAccount-orders {
            thead {
                border-bottom: 2px solid $border_gray_color;
                th {
                    padding: 10px 0 6px 0 !important;
                    span {
                        @include mitrRegular(20px);
                        color: $main_color;
                    }
                }
            }
    
            tbody {
                tr {
                    &:nth-child(even){
                        background-color: $border_gray_color;
                    }
                    td {
                        @include mitrRegular(20px);
                        color: $black_color;
                        padding: 23px 15px;
                        a {
                            &:hover, &:focus, &:active {
                                color: $main_color;
                                text-decoration: underline;
                            }
                        }
                        .woocommerce-Price-amount {
                            color: $black_color;
                        }
                        .woocommerce-button {
                            &.view {
                                text-indent: -1000px;
                                width: 25px;
                                height: 30px;
                                display: inline-block;
                                padding: 0;
                                box-sizing: border-box;
                                overflow: hidden;
                                background: {
                                    image: url(../images/myaccount/view-order-detail.png);
                                    position: center;
                                    size: 100% auto;
                                    repeat: no-repeat;
                                    color: unset !important;
                                }
                                &:hover, &:active, &:focus {
                                    background: {
                                        image: url(../images/myaccount/view-order-detail-hover.png);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //View Order page
    &.woocommerce-view-order {
        .woocommerce-order-details {
            .woocommerce-table--order-details {
                thead {
                    border-bottom: 2px solid $border_gray_color;
                    tr {
                        th {
                            @include mitrRegular(20px);
                            color: $main_color;
                        }
                    }
                }
                tbody {
                    tr {
                        border-bottom: 2px solid $border_gray_color;
                        td {
                            @include mitrRegular(20px);
                            color: $black_color;
                            a {
                                @include mitrRegular(20px);
                                color: $black_color;
                                &:hover, &:focus, &:active {
                                    color: $main_color;
                                    text-decoration: underline;
                                }
                            }
                            .wc-item-meta {
                                @include mitrRegular(20px);
                                color: $black_color;
                                p, strong {
                                    @include mitrRegular(20px);
                                    color: $black_color;
                                }
                            }
                            .woocommerce-Price-amount {
                                @include mitrRegular(20px);
                                color: $black_color;
                            }
                        }
                    }
                }
                tfoot {
                    border-bottom: 2px solid $border_gray_color;
                    tr {
                        th, td {
                            @include mitrRegular(20px);
                            color: $black_color;
                            a {
                                @include mitrRegular(20px);
                                color: $black_color;
                                &:hover, &:focus, &:active {
                                    color: $main_color;
                                    text-decoration: underline;
                                }
                            }
                            .wc-item-meta {
                                @include mitrRegular(20px);
                                color: $black_color;
                                p, strong {
                                    @include mitrRegular(20px);
                                    color: $black_color;
                                }
                            }
                            .woocommerce-Price-amount {
                                @include mitrRegular(20px);
                                color: $black_color;
                            }
                        }
                    }
                }
            }
            .order-again {
                display: block;
                float: left;
                margin: 0 30px 0 0 !important;
                padding: 0 !important;
                .button {
                    @include buttonStyle();
                    text-decoration: none !important;
                    padding: 12px 15px;
                }
            }
            .woo_pdf_download_link {
                float: left;
                padding: 0 !important;
                margin: 0 !important;
                #woo_pdf_invoice_download_link {
                    @include buttonStyle();
                    padding: 5px 15px;
                    img {
                        display: none !important;
                    }
                }
            }
        }

        .woocommerce-customer-details {
            &:before, &:after {
                content: ' ';
                display: table;
                clear: both;
            }
            .woocommerce-column__title {
                @include mitrRegular(34px);
                color: $main_color;
                margin: 50px 0 30px 0;
                width: 100%;
                max-width: 100%;
                border-bottom: 0 !important;
                padding: 0;
            }
            address {
                @include mitrRegular(20px);
                color: $black_color;
            }
        }
    }
}