.woocommerce-account .reward-point-wrapper {
   margin-top: 30px;
   .reward-point-box {
      border: 1px solid $border_black_color;
      @include border-radius(5px);
      padding: 30px;
      text-align: center;
      .reward-point-title {
         @include mitrRegular(34px);
         color: $black_color;
         display: block;
         text-align: center;
      }
      .reward-point-in-circle {
         width: 160px;
         height: 160px;
         @include border-radius(160px);
         background-color: $main_color;
         color: white;
         text-align: center;
         padding: 30px 10px;
         margin: 0 auto;
         .point {
            @include mitrRegular(60px);
            display: block;
            line-height: 60px;
         }
         .label {
            @include mitrRegular(34px);
            display: block;
            line-height: 30px;
         }
      }
   }
   .reward-point-note {
      margin-top: 30px;
      @include mitrRegular(20px);
      color: $black_color;
   }
}