body.archive.tax-product_cat {
    .main-products-loop {
        .product {
            // 600 -> 500 -> 700
            &:nth-child(9n+1) {
                //estimate px 600 for screen 1920
                width: calc(33%);
            }
            &:nth-child(9n+2) {
                //estimate px 500 for screen 1920
                width: calc(28%);
            }
            &:nth-child(9n+3) {
                //estimate px 700 for screen 1920
                width: calc(39%);
            }

            // 500 -> 700 -> 600
            &:nth-child(9n+4) {
                //estimate px 500 for screen 1920
                width: calc(28%);
            }
            &:nth-child(9n+5) {
                 //estimate px 700 for screen 1920
                 width: calc(39%);
            }
            &:nth-child(9n+6) {
                //estimate px 600 for screen 1920
                width: calc(33%);
            }

            // 700 -> 600 -> 500
            &:nth-child(9n+7) {
               //estimate px 700 for screen 1920
               width: calc(39%);
            }
            &:nth-child(9n+8) {
                //estimate px 600 for screen 1920
                width: calc(33%);
            }
            &:nth-child(9n+9) {
                //estimate px 500 for screen 1920
                width: calc(28%);
            }
            .product-image-wrapper {
                position: relative;
                height: 800px;
                @include border-radius(5px);
                background: {
                    size: cover;
                    position: top;
                    repeat: no-repeat;
                }
            }
            .product-content-image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .attachment-shop_catalog {
                    width: 100%;
                    height: auto;
                }
                img {
                    display: none;
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    height: inherit !important;
                    margin: auto auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
            .product-details {
                min-height: 75px;
                .product-title {
                    a {
                        @include mitrRegular(20px);
                        color: $black_color;
                        &:hover {
                            color: $main_color;
                        }
                    }
                }
                .auction-price {
                    @include mitrRegular(20px);
                    color: $black_color;
                }
                .price {
                    @include mitrRegular(20px);
                    color: $black_color;
                }
            }
            .auction-bage {
                display: none;
            }
        }
    }
    .filter-wrap {
        margin-bottom: 20px;
    }
    .shop-full-width {
        padding-bottom: 40px;
    }
}
.woocommerce-breadcrumb {
    a {
        &:hover, &:focus, &:active {
            color: $main_color;
            opacity: 1 !important;
        }
    }
}

//product grid for boy suite and girl suite category
body.archive.tax-product_cat.term-dress, body.archive.tax-product_cat.term-boy-suit{
    .main-products-loop {
        .product {
            &.first {
                clear: none !important;
            }
            // 790 -> 500 -> 500
            &:nth-child(17n+1) {
                //estimate px 790 for screen 1920
                width: calc(44%);
            }
            &:nth-child(17n+2) {
                //estimate px 500 for screen 1920
                width: calc(28%);
            }
            &:nth-child(17n+3) {
                //estimate px 500 for screen 1920
                width: calc(28%);
            }

            // 4 column with the same width
            &:nth-child(17n+4) {
                width: calc(100% / 4);
            }
            &:nth-child(17n+5) {
                 width: calc(100% / 4);
            }
            &:nth-child(17n+6) {
                width: calc(100% / 4);
            }
            &:nth-child(17n+7) {
                width: calc(100% / 4);
            }

            // 500 -> 500 -> 790
            &:nth-child(17n+8) {
               //estimate px 500 for screen 1920
               width: calc(28%);
            }
            &:nth-child(17n+9) {
               //estimate px 500 for screen 1920
               width: calc(28%);
            }
            &:nth-child(17n+10) {
                //estimate px 790 for screen 1920
                width: calc(44%);
            }

            // 4 column with the same width
             &:nth-child(17n+11) {
                width: calc(100% / 4);
            }
            &:nth-child(17n+12) {
                 width: calc(100% / 4);
            }
            &:nth-child(17n+13) {
                width: calc(100% / 4);
            }
            &:nth-child(17n+14) {
                width: calc(100% / 4);
            }

            // 500 -> 790 -> 500
            &:nth-child(17n+15) {
                //estimate px 500 for screen 1920
                width: calc(28%);
             }
             &:nth-child(17n+16) {
                //estimate px 790 for screen 1920
                width: calc(44%);
            }
            &:nth-child(17n+17) {
                //estimate px 500 for screen 1920
                width: calc(28%);
             }
            
        }
    }
}