.woocommerce-lost-password {

    h1.title, .footer-newsletter {
        display: none !important;
    }
    .reset-password-wrapper {
        max-width: 920px;
        width: 100%;
        border: 1px solid $main_color;
        padding: 60px 95px 78px;
        @include border-radius(5px);
        height: auto;
        margin: 60px auto 0 auto;
        text-align: center;
        p {
            @include mitrRegular(24px);
            margin-bottom: 60px;
            text-align: left;
        }
        .resetpasswordsuccess {
            display: block;
            width: 120px;
            height: 120px;
            background: {
                image: url(../images/resetpassword-success.svg);
                size: 120px 120px;
                position: center;
                repeat: no-repeat;
            }
            margin: 0 auto 25px auto;
        }
        .btn-style {
        }
    }
}