#header {
    #girlTopNavBtn, #boyTopNavBtn {
        position: relative;
        cursor: pointer;
        content:  '';
        background: {
            image: url('../images/girl-head-icon.svg');
            position: center;
            size: 100% auto;
            repeat: no-repeat;
        }
        display: inline-block;
        width: 48px;
        height: 62px;
        margin-right: 30px;
    }
    #boyTopNavBtn {
        background: {
            image: url('../images/boy-head-icon.svg');
            position: center;
            size: 100% auto;
            repeat: no-repeat;
        }
        display: inline-block;
        width: 40px;
        height: 52px;
    }
    .et_b_header-cart.et_element-top-level > a svg {
        width: 52px;
        height: 52px;
    }
    .et_b_header-search {
        margin-right: 30px !important;
        cursor: pointer;
        svg {
            display: none;
        }
        > span {
            &:before {
                content: '';
                width: 52px;
                height: 52px;
                background: {
                    image: url('../images/search-icon.svg');
                    position: center;
                    size: 100% auto;
                    repeat: no-repeat;
                }
            }
        }
    }
    .ajax-search-form {
        width: 540px;
        height: 70px;
        @include mitrRegular(24px);
        margin-top: 23px;
        .autocomplete-suggestions {
            @include border-radius(5px !important);
            margin-top: 15px;
            @include box-shadow(0px 3px 6px #b3b3b3);
            padding-top: 0;
            a {
                border-bottom: 1px solid $border_gray_color;
                padding: 15px 30px;
                img {
                    width: 65px !important;
                    max-width: 65px !important;
                    height: auto !important;
                }
                .product-title, .price {
                    @include mitrRegular(17px);
                    color: $black_color;
                }
            }
            
        }
    }
}
.girl-boy-dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 110px;
    z-index: 10;
    padding: {
        top: 60px;
        bottom: 60px;
    }
    background-color: rgba(255,255,255,0.95);
    img {
       float: left;
       margin-right: 35px;
    }
    .category-title {
        @include mitrRegular(24px);
        color: $black_color;
        margin-top: 10px;
        min-height: 75px;
    }
    .parent-category-title {
        @include mitrRegular(34px);
        color: $main_color;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 10px;
    }
    .container {
        max-width: 1480px;
    }
    a {
        display: block;
        &:hover, &:focus, &:active {
            .category-title {
                text-decoration: underline;
                color: $main_color;
            }
        }
    }
}
//product qty number
.et_b_header-cart.et_element-top-level .et-quantity {
    color: $main_color !important;
    @include mitrRegular(24px);
    position: relative;
    top: -24px;
    left: -14px;
    background-color: transparent;
}
//language switcher
.widget_icl_lang_sel_widget {
    .wpml-ls-legacy-dropdown-click {
        width: 20px;
        margin-top: 5px;
        a {
            border: 0 !important;
        }
        .wpml-ls-current-language {
            position: relative;
            .wpml-ls-item-toggle {
                width: 30px;
                padding: 0 !important;
                float: right;
                .wpml-ls-native {
                    display:  none !important;
                }
                .wpml-ls-flag {
                    width: 52px;
                    height: 52px;
                    @include border-radius(50px);
                }
                &:after {
                    display: none !important;
                }
                &:hover, &:focus, &:active, &:active {
                    background-color: transparent !important;
                }
            }
        
            //dropdown option
            .wpml-ls-sub-menu {
                right: 0;
                left: auto;
                top: 75px;
                @include border-radius(5px);
                padding: 25px;
                background-color: white;
                overflow: hidden;
                border: 0 !important;
                width: 310px;
                @include box-shadow(0px 0px 5px #e4e4e4);
                .wpml-ls-flag {
                    width: 30px;
                    height: 30px;
                    @include border-radius(30px);
                }
                .wpml-ls-link {
                    @include mitrRegular(17px);
                    text-align: left;
                    width: 100%;
                    &:hover, &:focus, &:active, &:active {
                        background-color: transparent !important;
                    }
                }
    
            }
        }
    }
}

#custom-mobile-menu {
    width: 39px;
    height: 33px;
    background: {
        image: url(../images/hamburger-menu.svg);
        position: center;
        size: 100% auto;
        repeat: no-repeat;
    }
    display: inline-block;
    cursor: pointer;
}
#custom-mobile-menu-content {
    $width: 438px;
    position: fixed;
    padding: 40px;
    width: $width;
    height: 100%;
    background-color: $main_color;
    top: 0;
    left: -$width;
    color: white;
    $mobile_menu_border_color:  #FEACAC;
    @include transition(0.5s);
    &.open {
        display: block;
        @include transition(0.5s);
        left: 0;
    }
    #hide-hamburgermenu {
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin: 50px auto 0 auto;
        background: {
            image: url(../images/close-mobile-menu.svg);
            position: center;
            size: 100% auto;
            repeat: no-repeat;
        }
    }
    .profile-pic {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        @include border-radius(100px);
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    .hello-user {
        @include mitrRegular(24px);
        margin: {
            bottom: 30px;
        }
        border-bottom: 1px solid $mobile_menu_border_color;
        padding-bottom: 30px;
        &:before {
            content: '';
            width: 45px;
            height: 43px;
            display: inline-block;
            position: relative;
            top: 10px;
            background: {
                image: url(../images/logo-white.svg);
                size: 100% auto;
                repeat: no-repeat;
                position: center;
            }
        }
    }
    .menu-wrapper {
        padding: {
            top: 0;
            left: 0;
            right: 0;
            bottom: 20px;
        }
        margin: 0 0 30px 0;
        border-bottom: 1px solid $mobile_menu_border_color;
        li {
            & + li {
                margin-top: 10px;
            }
            a {
                display: inline-block;
                width: 100%;
                &.cart-customlocation {
                    .cart-total {
                        padding: 0 8px;
                        height: 40px;
                        min-width: 40px;
                        width: auto;
                        @include border-radius(40px);
                        color: white;
                        background-color: #FEACAC;
                        text-align: center;
                        @include mitrRegular(24px);
                        float: right;
                        margin-right: 0 !important;
                    }
                }
                span {
                    width: 20px;
                    height: 30px;
                    margin-right: 15px;
                    display: inline-block;
                    &.register-icon {
                        background: {
                            image: url(../images/guest-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.login-icon {
                        background: {
                            image: url(../images/loginwebsite-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.cart-icon {
                        background: {
                            image: url(../images/cart-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.boy-category-icon {
                        background: {
                            image: url(../images/boycate-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.girl-category-icon {
                        background: {
                            image: url(../images/girlcate-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.blog-icon {
                        background: {
                            image: url(../images/blog-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.faq-icon {
                        background: {
                            image: url(../images/faq-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.aboutus-icon {
                        background: {
                            image: url(../images/aboutus-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.contactus-icon {
                        background: {
                            image: url(../images/contactus-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.myacc-icon {
                        background: {
                            image: url(../images/myacc-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.wishlist-icon {
                        background: {
                            image: url(../images/wishlist-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                    &.logout-icon {
                        background: {
                            image: url(../images/logout-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        } 
                        position: relative;
                        top: 5px;
                    }
                }
                @include mitrRegular(24px);
                color: white;
            }
        }
    }
}
body.mobilemenu-open {
    height: auto !important;
    min-height: 100% !important;
    overflow: hidden !important;
}