/* Mobile devices */
@media (max-width: 767px) { 
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
.quote-header {
    .elementor-heading-title {
        max-width: 540px;
        display: block;
        width:100%;
        margin: 0 auto;
        text-align: left;
        &:before {
            content: "\"";
            @include mitrRegular(60px);
            color:  inherit;
            display: block;
            margin: 0 auto;
            text-align: center;
            font-style: italic;
        }
        &:after {
            content: "\"";
            @include mitrRegular(60px);
            color:  inherit;
            display: block;
            margin: 0 auto;
            text-align: center;
            font-style: italic;
        }
    }
}
.line-on-top {
    .elementor-heading-title {
        display: inline-block;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: relative;
            width: auto;
            height: 1px;
            background-color: $light_pink_color;
            margin: {
                left: 15px;
                right: 15px;
                bottom: 30px;
            }
        }
    }
}
