/* Mobile devices */
@media (max-width: 767px) { 
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
.follow-list {
    .follow-item {
        text-align: left;
        display: inline-block;
        margin: {
            left: 30px;
            right: 0;
        }
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        text-transform: uppercase;
        @include mitrRegular(17px);
        color: $black_color;
    }
    .follow-title {
        @include mitrRegular(20px);
        color: $main_color;
        text-transform: uppercase;
    }
}

//contact form
.contactus-form {
    .wpcf7-form {
        padding-top: 70px;
        border-top: 1px solid $border_gray_color;
        .my-text-input-style {
            color: $black_color !important;
            font: {
                family: 'Mitr', sans-serif !important;
                weight: 400 !important;
                size: 20px !important;
            }
            @include input-placeholder {
                color: $black_color !important;
                font: {
                    family: 'Mitr', sans-serif !important;
                    weight: 400 !important;
                    size: 20px !important;
                }
            }
        }
        .my-textarea-input-style {
            color: $black_color !important;
            height: 200px;
            font: {
                family: 'Mitr', sans-serif !important;
                weight: 400 !important;
                size: 20px !important;
            }
            @include input-placeholder {
                color: $black_color !important;
                font: {
                    family: 'Mitr', sans-serif !important;
                    weight: 400 !important;
                    size: 20px !important;
                }
            }
        }
        .wpcf7-submit {
            @include border-radius(5px !important);
            height: 90px !important;
            border: 1px solid $main_color !important;
            background-color: $main_color !important;
            display: block !important;
            &:hover, &:focus {
            }
            color: white !important;
            width: 100% !important;
            font: {
                family: 'Mitr', sans-serif !important;
                weight: 400 !important;
                size: 34px !important;
            }
        }
        .clean-field-btn {
            @include border-radius(5px !important);
            height: 90px !important;
            border: 1px solid $main_color !important;
            background-color: white !important;
            display: block !important;
            &:hover, &:focus {
            }
            color: $main_color !important;
            width: 100% !important;
            font: {
                family: 'Mitr', sans-serif !important;
                weight: 400 !important;
                size: 34px !important;
            }
        }
        .warning-txt {
            margin-bottom: 30px;
            @include mitrRegular(17px);
        }
    }
    .wpcf7-not-valid-tip {
        @include mitrRegular(17px);
        color: $main_color;
    }
    .wpcf7-response-output {
        border: 0 !important;
        @include mitrRegular(17px);
        color: $main_color;
        padding: 0 !important;
        margin: 0 0 30px 0 !important;
    }
}
