/* Mobile devices */
@media (max-width: 767px) { 
   .mobile-header-wrapper {
       display: none;
   }
   .header-wrapper {
       display: block;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}
#cookie-law-info-bar {
   padding: 30px 30px;
   [role="button"].cli_action_button {
      @include border-radius(5px);
      border: 1px solid white;
      @include mitrRegular(24px);
      width: 255px;
      height: 50px;
      &:hover {
         background-color: white !important;
         color: $main_color !important;
      }
   }
   .cli-bar-message {
      @include mitrRegular(20px);
      line-height: 1.4;
      a {
         text-decoration: underline;
         color: white;
      }
   }
   .cli_settings_button {
      display: none;
   }
}