/* Mobile devices */
@media (max-width: 767px) { 
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
.my-header-txt {
    @include mitrRegular(60px);
}
.my-text-color {
    color: $main_color;
}
.my-font-style {
    font: {
        family: 'Mitr', sans-serif;
        weight: 400;
    }
}
.my-text-black-color {
    color: $black_color;
}
.my-btn-style {
    @include buttonStyle();
}
.my-text-input-style {
    @include textInputLargeStyle();
}
.my-textarea-input-style {
    @include textInputLargeStyle();
}
.ele-btn-style {
    .elementor-button {
        @include buttonStyle();
    }
}
