/* Mobile devices */
@media (max-width: 767px) { 
   .mobile-header-wrapper {
       display: none;
   }
   .header-wrapper {
       display: block;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}
.rs_msg_for_cart_total_based_points {
   display: none !important;
}
body.archive.tax-product_cat .woocommerce-info{
   display: none;
}