/* Mobile devices */
@media (max-width: 767px) { 
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
body.home {
    .news-blog-tabs-container {
        .elementor-column-wrap {
            padding: 0 !important;
        }
        .news-and-blog-tab-homepage {
            .et-tabs-nav {
                margin-bottom: 60px;
                .et-tab-nav {
                    border: 1px solid $main_color;
                    @include border-radius(5px);
                    height: 60px;
                    min-width: 160px;
                    .et-tab-title {
                        color: $main_color;
                        @include mitrRegular(24px);
                    }
                    &.inactive {
                        border-color: $gray_color;
                        .et-tab-title {
                            color: $gray_color !important;
                        }
                    }
                    &.active:after{
                        display: none !important;
                    }
                    &.inactive:after {
                        display: none !important;
                    }
                }
            }
            .et-tabs-content {
                .clearfix {
                    padding: 0;
                }
            }
            //this element is added by reward plugin, we don't need to it.
            .rs_social_sharing_buttons {
                display: none !important;
            }
        }
        .custom-blog-row {
            width: auto;
            margin: {
                left: 30px;
                right: 30px;
            }
        }
        .view-more {
            @include buttonStyle();
            height: 50px;
            max-width: 350px;
            width: 100%;
            text-align: center;
            display: block !important;
            margin: 60px auto 0 auto;
            line-height: 47px;
        }
    }
    
    .container-fluid.content-page {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}