/* Mobile devices */
@media (max-width: 767px) { 
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
.woocommerce-lost-password {
    h1.title {
        display: none !important;
    }
    .lost_reset_password {
        max-width: 920px;
        width: 100%;
        border: 1px solid $main_color;
        padding: 60px 95px 78px;
        @include border-radius(5px);
        margin-top: 60px;
        height: auto;
        .woocommerce-form-row {
            margin-bottom: 0;
            &.form-row-first {
                margin-bottom: 40px;
            }
        }
        .login-header {
            @include mitrRegular(20px);
            color: $main_color;
            line-height: 80px;
            margin-bottom: 20px;
            .login-icon {
                width: 50px;
                height: 50px;
                display: inline-block;
                margin-right: 15px;
                background: {
                    image: url('../images/login-icon.svg');
                    position: center;
                    size: 25px 25px;
                    repeat: no-repeat;
                    color: $main_color;
                }
                position: relative;
                top: 15px;
                @include border-radius(50px);
            }
        }
        button[type="submit"] {
            @include buttonStyle();
            min-height: 90px;
            @include mitrRegular(34px);
            max-width: 445px;
            display: block;
            margin: 0 auto;
        }
        input.input-text {
            @include textInputLargeStyle();
        }
        p {
            @include mitrRegular(20px);
            margin-bottom: 30px;
        }
    }
}