/* Mobile devices */
@media (max-width: 767px) {
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
body.minicart-open {
    height: auto !important;
    min-height: 100% !important;
    overflow: hidden !important;
}
#header {
    .et_b_header-cart {
        //do not show cart popup when mouse over
        &:hover .et-mini-content {
            visibility: hidden;
        }
        .et-mini-content {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $main_color;
            width: 445px;
            opacity: 0;
            visibility: hidden;
            @include transition(0.5s);
            &.visible {
                @include transition(0.5s);
                opacity: 1;
                visibility: visible;
                @include max-xs {
                    overflow: scroll;
                }
            }
            @include max-xs {
                width: 100%;
                padding: 20px;
            }
            .et-content {
                .cart-widget-products {
                    overflow-y: scroll;
                    max-height: 500px;
                    height: auto;
                    overflow-x: hidden;
                    padding: 0 3px 0 0;
                    width: calc(100% + 15px);
                    border-bottom: none;
                    &::-webkit-scrollbar {
                        width: 15px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: $main_color;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #feacac;
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: #f59292;
                    }
                    .woocommerce-mini-cart-item {
                        padding: 0 !important;
                        position: relative;
                        //remove product button
                        padding: 0 0 20px 0 !important;
                        position: relative;
                        border-bottom: 1px dashed #bababa;
                        width: 100%;
                        .remove_from_cart_button {
                            width: 22px;
                            height: 29px;
                            top: 365px !important;
                            right: 33px;
                            background: {
                                image: url(../images/bin-icon.svg);
                                position: center;
                                size: 100% auto;
                                repeat: no-repeat;
                            }
                            @include max-sm {
                                top: auto !important;
                                bottom: 20px !important;
                                right: 0;
                            }
                            .et-delete {
                                display: none !important;
                            }
                        }
                        // product image
                        .product-mini-image {
                            display: block;
                            float: none !important;
                            clear: both !important;
                            width: 350px !important;
                            height: 350px;
                            overflow: hidden;
                            @include max-sm {
                                margin: auto;
                                padding: 0;
                                width: 150px !important;
                                height: 150px !important;
                                float: left !important;
                            }

                            @include max-xs {
                                width: 100px !important;
                                height: 100px !important;
                            }
                            img {
                                width: 100%;
                                height: auto;
                                max-width: 100%;
                                max-height: unset !important;
                                float: none !important;
                                clear: both !important;
                            }
                        }
                        .product-item-right {
                            color: white;
                            @include mitrRegular(17px);
                            margin-top: 15px;
                            @include max-sm {
                                margin-top: 0;
                                padding-left: 15px;
                            }
                        }
                        .variation,
                        .variation-color {
                            color: white;
                            opacity: 1 !important;
                        }
                        .product-title {
                            @include mitrRegular(17px);
                        }
                    }
                }
                .woocommerce-mini-cart__footer-wrapper {
                    //subtotal
                    .cart-popup-footer {
                        color: white;
                        padding-bottom: 20px;
                        .btn-view-cart {
                            display: none;
                        }
                        .cart-widget-subtotal {
                            color: white;
                            @include mitrRegular(34px);
                            text-align: center;
                            @include max-sm {
                                font-size: 24px;
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: flex-end;
                            }
                        }
                    }
                    .btn-checkout,
                    .btn-view-cart {
                        @include border-radius(5px);
                        color: white;
                        @include mitrRegular(34px);
                        text-align: center;
                        height: 90px;
                        padding: 15px;
                        width: 100%;
                        max-width: 388px;
                        border: 1px solid white;
                        line-height: 1.6;
                        margin: 0 auto;
                        &:hover {
                            background-color: white;
                            color: $main_color;
                            border-color: $main_color;
                            opacity: 1 !important;
                        }
                    }
                    .btn-view-cart {
                        margin-bottom: 20px;
                    }
                    //HIDE free shipping box
                    .woocommerce-mini-cart__footer {
                        display: none;
                    }
                }
            }
        }
    }

    //search
    .et_b_header-search {
        //do not show search box when mouse hover
        &:hover .et-mini-content {
            visibility: hidden !important;
        }
        .et-mini-content {
            &.visible {
                visibility: visible !important;
                animation-duration: 0s;
                opacity: 1;
            }
        }
    }
}
.mini-cart-buttons {
    @include max-sm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
            font-size: 24px !important;
            height: 50px !important;
            width: calc(50% - 5px) !important;
            overflow: hidden;
            line-height: 47px !important;
            margin: auto 0 !important;
            padding: 0 !important;
        }
    }
}
@include max-sm {
    .et_element .cart-widget-subtotal .big-coast {
        margin-left: 15px;
    }
    .et_b_header-cart{
        .et-mini-content{
            .close {
                position: absolute;
                top: 20px;
                left: 20px;
                width: 24px;
                height: 24px;
                background: url("../images/close.png") no-repeat;
                z-index: 999999;
                cursor: pointer;
                display: block;
            }
        }
    }
    
    .widget_shopping_cart_content {
        margin-top: 50px;
        background: #fff;
        position: relative;
    }
    #header .et_b_header-cart .et-mini-content .et-content .cart-widget-products .woocommerce-mini-cart-item .variation,
    #header
        .et_b_header-cart
        .et-mini-content
        .et-content
        .cart-widget-products
        .woocommerce-mini-cart-item
        .variation-color {
        color: #000;
    }
    #header
        .et_b_header-cart
        .et-mini-content
        .et-content
        .cart-widget-products
        .woocommerce-mini-cart-item
        .product-title {
        color: #000;
    }
    .et_element .cart-widget-subtotal .big-coast,
    .et_element .cart-widget-subtotal .small-h {
        color: $main_color;
    }
    #header .et_b_header-cart .et-mini-content .et-content .woocommerce-mini-cart__footer-wrapper .btn-checkout,
    #header .et_b_header-cart .et-mini-content .et-content .woocommerce-mini-cart__footer-wrapper .btn-view-cart {
        border-color: $main_color;
        color: $main_color;
        background: #fff;
    }
    #header .et_b_header-cart .et-mini-content.visible {
        background: #fff;
    }
    #header .et_b_header-cart .et-mini-content .et-content .cart-widget-products{
        --scrollbarBG: #fff;
        --thumbBG: #fff;
        &::-webkit-scrollbar {
            width: 11px;
        }
        &::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG);
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
        }
    }
    #header
        .et_b_header-cart
        .et-mini-content
        .et-content
        .cart-widget-products
        .woocommerce-mini-cart-item
        .remove_from_cart_button {
        background-image: url("../images/bin-gray.png");
    }
    #header .et_b_header-cart .et-mini-content .et-content .cart-widget-products {
        scrollbar-color: #fff;
    }
    #header
        .et_b_header-cart
        .et-mini-content
        .et-content
        .cart-widget-products
        .woocommerce-mini-cart-item
        .product-item-right {
        color: #000;
    }
}
@include max-sm{
    .products-loop {
        float: left;
    }
}
