/* Mobile devices */
@media (max-width: 767px) { 
   .mobile-header-wrapper {
       display: none;
   }
   .header-wrapper {
       display: block;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}
body.woocommerce-account {
   input[name="save_auctions_settings"] {
      @include buttonLargeStyle();
   }
}