/* Mobile devices */
@media (max-width: 767px) {
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
body.woocommerce-account {
    .page-breadcrumb {
        margin: {
            left: 15px;
            right: 15px;
        }
        .breadcrumbs {
            display: inline-block;
            @include mitrRegular(15px);
            a {
                &:hover,
                &:focus {
                    color: $main_color;
                    opacity: 1 !important;
                }
            }
        }
        h1.title {
            display: inline-block;
            @include mitrRegular(15px);
        }
        .et-right-arrow:before {
            content: "/";
            @include mitrRegular(15px);
        }
    }
    h2.myaccount-title {
        @include mitrRegular(34px);
        color: $black_color;
        padding: 0;
        margin: 0 0 30px 0;
        border: 0 !important;
        max-width: 100%;
    }
}
.woocommerce-MyAccount-content {
    @include max-sm {
        max-width: inherit;
        width: 100%;
        float: left;
        padding-right: 0;
        margin-top: 30px;
    }
    .woocommerce-Addresses {
        .woocommerce-Address {
            border: 1px solid $border_gray_color;
            padding: 30px;
            @include border-radius(5px);
            position: relative;

            //make a space for edit button
            margin-bottom: 150px;
            h3 {
                @include mitrRegular(20px !important);
                color: $black_color;
                width: 100%;
                text-align: center;
                margin-bottom: 15px !important;
            }
            //billing address
            &.col-1 {
                @include max-md{
                    width: 100% !important;
                    margin-right: 0 !important;
                }
                .woocommerce-Address-title {
                    &:after {
                        content: "";
                        display: block;
                        width: 120px;
                        height: 120px;
                        margin: 0 auto;
                        background: {
                            image: url(../images/myaccount/billing-addr-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                    }
                }
            }
            //shipping address
            &.col-2 {
                @include max-md{
                    width: 100% !important;
                    margin-left: 0 !important;
                }
                .woocommerce-Address-title {
                    &:after {
                        content: "";
                        display: block;
                        width: 120px;
                        height: 120px;
                        margin: 0 auto;
                        background: {
                            image: url(../images/myaccount/shipping-addr-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                    }
                }
            }
            .edit {
                @include buttonStyle();
                position: absolute;
                bottom: -150px;
                left: 0;
                width: auto;
                height: 90px;
                @include mitrRegular(34px);
                text-align: center;
                color: $main_color;
                padding: 20px;
                max-width: 445px;
                width: 100%;
                @include max-md{
                    bottom: -100px;
                }
            }
        }
    }
}
@include max-md{
    .woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address{
       .col-1, .col-2{
          width: 100% !important;
       }
    }
 }