/* Mobile devices */
@media (max-width: 767px) { 
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}
.woocommerce-account.woocommerce-edit-address {

    .woocommerce-MyAccount-content {
        form {
            // page title
            h3 {
                @include mitrRegular(34px);
                color: $black_color;
                padding: 0;
                margin: 0 0 30px 0;
                border: 0 !important;
                max-width: 100%;
            }
            .input-text {
                @include textInputLargeStyle();
            }
            label {
                @include mitrRegular(20px);
                .required {
                    color: $main_color;
                }
            }
            .form-row-wide {
                float: left;
                width: 50%;
                padding: 0 15px 0 0;
                overflow: visible;
                clear: none !important;
                &#billing_country_field, &#billing_city_field, &#billing_postcode_field, &#billing_email_field {
                    padding: 0 0 0 15px;
                    float: right;
                }
            }
        
            //select country 
            .select2-selection {
                @include border-radius(5px);
                height: 70px;
                .select2-selection__rendered {
                    @include mitrRegular(20px);
                    color: $black_color;
                    position: relative;
                    top: 15px;
                }
            }

            //save btn
            button[type="submit"] {
                @include buttonLargeStyle();

            }
        }
    }
}