/* Mobile devices */
@media (max-width: 767px) { 
   .mobile-header-wrapper {
       display: none;
   }
   .header-wrapper {
       display: block;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}
.woocommerce-account {
   .term-and-condition-wrapper {
      .elementor-accordion-item {
         &:first-of-type {
            border-top: 0 !important;
         }
         border: {
            left: 0;
            right: 0;
         }
      }
      .elementor-tab-content {
         border: 0 !important;
         padding: {
            left: 0;
            right: 0;
         }
      }
   }
}