/* Mobile devices */
@media (max-width: 767px) {
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
.woocommerce-MyAccount-navigation {
    @include max-sm {
        margin-left: 0;
        width: 100% !important;
        max-width: 100% !important;
    }
    ul {
        .woocommerce-MyAccount-navigation-link {
            border-bottom: 1px dashed white;
            border-top: 0 !important;
            padding: 15px 0;
            width: 100% !important;
            max-width: 100%;
            a {
                color: white;
                @include mitrRegular(24px);
                padding: 0 !important;
                display: block;
                width: 100%;
                &:before {
                    content: "";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin-right: 20px;
                    background: {
                        image: url(../images/myaccount/account-info.svg);
                        position: center;
                        size: 100% auto;
                        repeat: no-repeat;
                    }
                }
            }
            &.is-active {
            }
            &.woocommerce-MyAccount-navigation-link--dashboard {
                a:before {
                    background-image: url(../images/myaccount/account-info.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--orders {
                a:before {
                    background-image: url(../images/myaccount/order-history.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--downloads {
                display: none;
            }
            &.woocommerce-MyAccount-navigation-link--edit-address {
                a:before {
                    background-image: url(../images/myaccount/account-info.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--edit-account {
                a:before {
                    background-image: url(../images/myaccount/account-info.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--customer-logout {
                a:before {
                    background-image: url(../images/myaccount/account-info.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--auctions-endpoint {
                a:before {
                    background-image: url(../images/myaccount/order-history.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--reward-point {
                a:before {
                    background-image: url(../images/myaccount/reward-point.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--giftcard {
                a:before {
                    background-image: url(../images/myaccount/giftcard.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            &.woocommerce-MyAccount-navigation-link--termandcondition {
                a:before {
                    background-image: url(../images/myaccount/termandcondition.svg);
                    width: 21px;
                    height: 31px;
                }
            }
            //Hide auction menu from my account sidebar
            &.woocommerce-MyAccount-navigation-link--auctions-endpoint {
                display: none;
            }
        }
    }
}
.woocommerce-MyAccount-navigation {
    display: block;
}

@include max-sm {
    .woocommerce-MyAccount-navigation {
        display: none;
    }
}
