/* Mobile devices */
@include max-xs {
    .footer-newsletter {
        .mailchimp-form-wrapper {
            input[type="submit"] {
                margin-left: 5px;
            }
        }
    }
    .elementor-7064 .elementor-element.elementor-element-bf10de9 > .elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .et-advance-tabs .et-tabs-nav > ul {
        flex-wrap: nowrap;
        flex-flow: column;
        flex-direction: inherit;
    }
    body.home .news-blog-tabs-container .news-and-blog-tab-homepage .et-tabs-nav .et-tab-nav {
        min-width: 120px;
    }
    body.home .news-blog-tabs-container .news-and-blog-tab-homepage .et-tabs-nav {
        margin: 0 15px;
    }
}
@media (max-width: 767px) {
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
    .footer-newsletter {
        h4 {
            font-size: 20px;
        }
        h3 {
            font-size: 34px;
        }
        .mailchimp-form-wrapper {
            input[type="email"] {
                font-size: 17px;
            }
            input[type="submit"] {
                padding: 0.7rem 1rem;
            }
        }
        #mc4wp-form-1 {
            .mc4wp-form-fields {
                display: flex;
            }
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
.page-breadcrumb {
    .container-fluid {
        padding: {
            left: 15px !important;
            right: 15px !important;
        }
    }
}
.page-template-default {
    .page-title {
        text-align: center;
        margin-top: 70px;
        h1 {
            @include mitrRegular(60px);
            color: $black_color;
            margin-bottom: 0 !important;
        }
    }

    //force strong tag color
    .elementor-text-editor {
        strong {
            color: $main_color;
            @include mitrRegular(20px);
        }
    }
}

//FAQ
.faq-box {
    .elementor-accordion-item {
        .elementor-tab-title {
            &:before {
                content: "Q:";
                @include mitrRegular(24px);
                color: white;
                width: 40px;
                height: 40px;
                background-color: $main_color;
                @include border-radius(40px);
                display: inline-block;
                text-align: center;
                line-height: 36px;
                margin-right: 10px;
            }
        }
        &:first-of-type {
            border-top: 0 !important;
        }
        border: {
            left: 0;
            right: 0;
        }
    }
    .elementor-tab-content {
        border: 0 !important;
        padding: {
            left: 55px;
            right: 0;
        }
        position: relative;
        &:before {
            content: "A:";
            @include mitrRegular(24px);
            color: white;
            width: 40px;
            height: 40px;
            background-color: $black_color;
            @include border-radius(40px);
            display: block;
            text-align: center;
            line-height: 36px;
            position: absolute;
            top: 15px;
            left: 0;
        }
    }
}

@include max-sm {
    .page-template-default {
        .page-title {
            margin-top: 15px;
            h1 {
                font-size: 24px;
            }
        }
    }
}

@include max-md {
    .elementor-8069 .elementor-element.elementor-element-7e8b1a5d .elementor-accordion .elementor-accordion-item {
        border-width: 1px;
        border-style: dashed;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
}

//Override plugin
.aws-container .aws-search-form .aws-search-btn svg {
    color: #fff;
}
.aws-container .aws-search-form .aws-form-btn {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    height: 100%;
}
.aws-container .aws-search-form .aws-search-clear{
    right: 25px;
    color: #fff;
}
.aws-search-result .aws_search_more a{
    color: $main_color;
    text-align: right;
    padding-right: 15px;
}
.aws-search-result .aws_result_title{
    color: $main_color;
    font-size: 16px;
}
.aws-container .aws-show-clear .aws-search-field {
    background: transparent;
    padding-left: 10px;
    @include border-radius(5px !important);
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #fff;
    }
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #fff;
    }
}

.header-wrapper .menu-element{
    max-width: 100%;
}
.site-header .menu-element .menu > li > a{
    text-align: left;
    display: block;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, .products-title{
    color: $black_color !important;
}

@include max-md{
    .header-wrapper, .mobile-header-wrapper{
        display: none;
    }
    .header-wrapper{
        &.mob-hide{
            display: block;
        }
    }
    #custom-mobile-profile-menu{
        margin-top: 5px;
        svg{
            width: 25px;
            height: 50px;
        }
    }
}
@include max-sm{
    #custom-mobile-profile-menu{
        margin-top: 25px;
        svg{
            width: auto;
            height: 23px;
        }
    }
}