/* Mobile devices */
@media (max-width: 767px) {
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
body.archive.tax-product_cat {
    .main-products-loop {
        .product {
            @include lg {
                
                // 600 -> 500 -> 700
                &:nth-child(9n + 1) {
                    //estimate px 600 for screen 1920
                    width: calc(33%);
                }
                &:nth-child(9n + 2) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
                &:nth-child(9n + 3) {
                    //estimate px 700 for screen 1920
                    width: calc(39%);
                }

                // 500 -> 700 -> 600
                &:nth-child(9n + 4) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
                &:nth-child(9n + 5) {
                    //estimate px 700 for screen 1920
                    width: calc(39%);
                }
                &:nth-child(9n + 6) {
                    //estimate px 600 for screen 1920
                    width: calc(33%);
                }

                // 700 -> 600 -> 500
                &:nth-child(9n + 7) {
                    //estimate px 700 for screen 1920
                    width: calc(39%);
                }
                &:nth-child(9n + 8) {
                    //estimate px 600 for screen 1920
                    width: calc(33%);
                }
                &:nth-child(9n + 9) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
            
            }
            .product-image-wrapper {
                position: relative;
                height: 350px;
                @include border-radius(5px);
                background: {
                    size: cover;
                    position: top;
                    repeat: no-repeat;
                }
            }
            .product-content-image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                .attachment-shop_catalog {
                    width: 100%;
                    height: auto;
                }
                img {
                    display: none;
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    height: inherit !important;
                    margin: auto auto;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
            .product-details {
                min-height: 75px;
                .product-title {
                    a {
                        @include mitrRegular(20px);
                        color: $black_color;
                        &:hover {
                            color: $main_color;
                        }
                    }
                }
                .auction-price {
                    @include mitrRegular(20px);
                    color: $black_color;
                }
                .price {
                    @include mitrRegular(20px);
                    color: $black_color;
                }
            }
            .auction-bage {
                display: none;
            }
        }
    }
    .filter-wrap {
        margin-bottom: 20px;
        @include max-sm {
            float: left;
            width: 100%;
        }
    }
    .shop-full-width {
        padding-bottom: 40px;
    }
}
.woocommerce-breadcrumb {
    a {
        &:hover,
        &:focus,
        &:active {
            color: $main_color;
            opacity: 1 !important;
        }
    }
}

//product grid for boy suite and girl suite category

body.archive.tax-product_cat.term-dress,
body.archive.tax-product_cat.term-boy-suit {
    .main-products-loop {
        @include lg {
            .product {
                &.first {
                    clear: none !important;
                }
                // 790 -> 500 -> 500
                &:nth-child(17n + 1) {
                    //estimate px 790 for screen 1920
                    width: calc(44%);
                }
                &:nth-child(17n + 2) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
                &:nth-child(17n + 3) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }

                // 4 column with the same width
                &:nth-child(17n + 4) {
                    width: calc(100% / 4);
                }
                &:nth-child(17n + 5) {
                    width: calc(100% / 4);
                }
                &:nth-child(17n + 6) {
                    width: calc(100% / 4);
                }
                &:nth-child(17n + 7) {
                    width: calc(100% / 4);
                }

                // 500 -> 500 -> 790
                &:nth-child(17n + 8) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
                &:nth-child(17n + 9) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
                &:nth-child(17n + 10) {
                    //estimate px 790 for screen 1920
                    width: calc(44%);
                }

                // 4 column with the same width
                &:nth-child(17n + 11) {
                    width: calc(100% / 4);
                }
                &:nth-child(17n + 12) {
                    width: calc(100% / 4);
                }
                &:nth-child(17n + 13) {
                    width: calc(100% / 4);
                }
                &:nth-child(17n + 14) {
                    width: calc(100% / 4);
                }

                // 500 -> 790 -> 500
                &:nth-child(17n + 15) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
                &:nth-child(17n + 16) {
                    //estimate px 790 for screen 1920
                    width: calc(44%);
                }
                &:nth-child(17n + 17) {
                    //estimate px 500 for screen 1920
                    width: calc(28%);
                }
            }
        }
    }
}

@include max-sm {
    body.archive.tax-product_cat .main-products-loop .product .product-image-wrapper {
        height: 250px;
    }
    .products-grid.plist-one {
        .product {
            width: 100% !important;
            .product-image-wrapper {
                height: 450px !important;
            }
        }
    }

    body.home .news-blog-tabs-container .custom-blog-row {
        margin-left: 15px;
        margin-right: 15px;
    }

    .shop-filters {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        background: #fff;
        z-index: 999;
        border: none;
        margin: 0;
        padding: 15px;
        .shop-filters-area {
            margin-left: 0;
            margin-right: 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            align-content: center;
            .sidebar-widget {
                padding: 10px 0;
                border-top: 1px dashed #bababa;
                border-bottom: 1px dashed #bababa;
                margin-top: -1px;
                width: 100% !important;
                > ul,
                > form {
                    margin-top: 20px;
                    display: none;
                }
                .widget-title {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    position: relative;
                    &:after {
                        display: block;
                        content: "";
                        background: url("../images/filter-open.png") no-repeat;
                        width: 13px;
                        height: 21px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }

                    &.open {
                        &:after {
                            background: url("../images/filter-close.png") no-repeat;
                        }
                    }
                }
                &:nth-child(1){
                    border: none !important;
                }
                .sidebar-filter-title{
                    text-align: center;
                    font-size: 34px;
                    margin-bottom: 40px;
                    color: $main_color;   
                    display: block;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        background: url('../images/close-pink.png') no-repeat;
                        width: 25px;
                        height: 25px;
                        left: 0;
                        top: 0;
                        position: absolute;
                    }
                }
            }
        }
    }
    body.archive.tax-product_cat .widget_product_categories .product-categories {
        margin-top: 20px;
        display: none;
    }
    .products-loop {
        width: 100%;
        margin: 0;
    }
}
