/* Mobile devices */
@media (max-width: 767px) {
    .mobile-header-wrapper {
        display: none;
    }
    .header-wrapper {
        display: block;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

#header {
    #girlTopNavBtn,
    #boyTopNavBtn {
        position: relative;
        cursor: pointer;
        content: "";
        background: {
            image: url("../images/girl-head-icon.svg");
            position: center;
            size: 100% auto;
            repeat: no-repeat;
        }
        display: inline-block;
        width: 32px;
        height: 55px;
        margin-right: 30px;
    }
    #boyTopNavBtn {
        background: {
            image: url("../images/boy-head-icon.svg");
            position: center;
            size: 100% auto;
            repeat: no-repeat;
        }
        display: inline-block;
        width: 28px;
        height: 52px;
    }
    .et_b_header-cart.et_element-top-level > a svg {
        width: 30px;
        height: 52px;
        @include max-sm {
            width: 22px;
            height: 22px;
        }
    }
    .et_b_header-search {
        margin-right: 30px !important;
        cursor: pointer;
        svg {
            display: none;
        }
        > span {
            &:before {
                content: "";
                width: 34px;
                height: 34px;
                background: {
                    image: url("../images/search-icon.svg");
                    position: center;
                    size: 100% auto;
                    repeat: no-repeat;
                }
            }
        }
    }
    .ajax-search-form {
        width: 540px;
        height: 70px;
        @include mitrRegular(24px);
        margin-top: 23px;
        .autocomplete-suggestions {
            @include border-radius(5px !important);
            margin-top: 15px;
            @include box-shadow(0px 3px 6px #b3b3b3);
            padding-top: 0;
            a {
                border-bottom: 1px solid $border_gray_color;
                padding: 15px 30px;
                img {
                    width: 65px !important;
                    max-width: 65px !important;
                    height: auto !important;
                }
                .product-title,
                .price {
                    @include mitrRegular(17px);
                    color: $black_color;
                }
            }
        }
    }
}
.girl-boy-dropdown-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 110px;
    z-index: 10;
    padding: {
        top: 60px;
        bottom: 60px;
    }
    background-color: rgba(255, 255, 255, 0.95);
    img {
        float: left;
        margin-right: 35px;
    }
    .category-title {
        @include mitrRegular(24px);
        color: $black_color;
        margin-top: 10px;
        min-height: 75px;
    }
    .parent-category-title {
        @include mitrRegular(34px);
        color: $black_color;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 10px;
    }
    .container {
        max-width: 1480px;
    }
    a {
        display: block;
        &:hover,
        &:focus,
        &:active {
            .category-title {
                text-decoration: underline;
                color: $main_color;
            }
        }
    }
}
//product qty number
.et_b_header-cart.et_element-top-level .et-quantity {
    color: $main_color !important;
    @include mitrRegular(24px);
    position: relative;
    top: -24px;
    left: -14px;
    background-color: transparent;
    @include max-sm {
        font-size: 20px;
        top: -20px;
        left: -13px;
    }
}
//language switcher
.widget_icl_lang_sel_widget {
    .wpml-ls-legacy-dropdown-click {
        width: 20px;
        margin-top: 5px;
        a {
            border: 0 !important;
        }
        .wpml-ls-current-language {
            position: relative;
            .wpml-ls-item-toggle {
                width: 30px;
                padding: 0 !important;
                float: right;
                .wpml-ls-native {
                    display: none !important;
                }
                .wpml-ls-flag {
                    width: 52px;
                    height: 52px;
                    @include border-radius(50px);
                }
                &:after {
                    display: none !important;
                }
                &:hover,
                &:focus,
                &:active,
                &:active {
                    background-color: transparent !important;
                }
            }

            //dropdown option
            .wpml-ls-sub-menu {
                right: 0;
                left: auto;
                top: 75px;
                @include border-radius(5px);
                padding: 25px;
                background-color: white;
                overflow: hidden;
                border: 0 !important;
                width: 310px;
                @include box-shadow(0px 0px 5px #e4e4e4);
                .wpml-ls-flag {
                    width: 30px;
                    height: 30px;
                    @include border-radius(30px);
                }
                .wpml-ls-link {
                    @include mitrRegular(17px);
                    text-align: left;
                    width: 100%;
                    &:hover,
                    &:focus,
                    &:active,
                    &:active {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}

#custom-mobile-menu,
#custom-mobile-small-menu {
    width: 39px;
    height: 33px;
    background: {
        image: url(../images/hamburger-menu.svg);
        position: center;
        size: 100% auto;
        repeat: no-repeat;
    }
    display: inline-block;
    cursor: pointer;
}
#custom-mobile-menu-content,
#custom-mobile-profile-menu-content,
#custom-mobile-small-menu-content {
    $width: 438px;
    position: fixed;
    padding: 40px;
    width: $width;
    height: 100%;
    background-color: $main_color;
    top: 0;
    left: -$width;
    color: white;
    $mobile_menu_border_color: #feacac;
    @include transition(0.5s);
    overflow-y: scroll;
    overflow-x: hidden;
    @include max-sm {
        overflow: scroll;
        max-width: 100%;
        padding: 30px;
    }
    @include max-xs {
        padding: 20px;
    }
    &.open {
        display: block;
        @include transition(0.5s);
        left: 0;
        z-index: 999;
    }
    #hide-hamburgermenu {
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin: 50px auto 0 auto;
        background: {
            image: url(../images/close-mobile-menu.svg);
            position: center;
            size: 100% auto;
            repeat: no-repeat;
        }
        @include max-sm {
            display: none;
        }
    }
    .profile-pic {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        @include border-radius(100px);
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
    }
    .hello-user {
        @include mitrRegular(24px);
        margin: {
            bottom: 30px;
        }
        border-bottom: 1px solid $mobile_menu_border_color;
        padding-bottom: 30px;
        &:before {
            content: "";
            width: 45px;
            height: 43px;
            display: inline-block;
            position: relative;
            top: 10px;
            background: {
                image: url(../images/logo-white.svg);
                size: 100% auto;
                repeat: no-repeat;
                position: center;
            }
        }
    }
    .menu-wrapper {
        padding: {
            top: 0;
            left: 0;
            right: 0;
            bottom: 20px;
        }
        margin: 0 0 20px 0;
        border-bottom: 1px solid $mobile_menu_border_color;
        @include max-sm {
            border-bottom: 1px dashed $mobile_menu_border_color;
        }
        li {
            & + li {
                margin-top: 10px;
            }
            a {
                display: inline-block;
                width: 100%;
                &.cart-customlocation {
                    .cart-total {
                        padding: 0 8px;
                        height: 40px;
                        min-width: 40px;
                        width: auto;
                        @include border-radius(40px);
                        color: white;
                        background-color: #feacac;
                        text-align: center;
                        @include mitrRegular(24px);
                        float: right;
                        margin-right: 0 !important;
                    }
                }
                span {
                    width: 20px;
                    height: 30px;
                    margin-right: 15px;
                    display: inline-block;
                    &.register-icon {
                        background: {
                            image: url(../images/guest-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.login-icon {
                        background: {
                            image: url(../images/loginwebsite-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.cart-icon {
                        background: {
                            image: url(../images/cart-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.boy-category-icon {
                        background: {
                            image: url(../images/boycate-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.girl-category-icon {
                        background: {
                            image: url(../images/girlcate-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.blog-icon {
                        background: {
                            image: url(../images/blog-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.faq-icon {
                        background: {
                            image: url(../images/faq-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.aboutus-icon {
                        background: {
                            image: url(../images/aboutus-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.contactus-icon {
                        background: {
                            image: url(../images/contactus-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.myacc-icon {
                        background: {
                            image: url(../images/myacc-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.wishlist-icon {
                        background: {
                            image: url(../images/wishlist-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                    &.logout-icon {
                        background: {
                            image: url(../images/logout-icon.svg);
                            position: center;
                            size: 100% auto;
                            repeat: no-repeat;
                        }
                        position: relative;
                        top: 5px;
                    }
                }
                @include mitrRegular(24px);
                color: white;
            }
        }
    }
}
.custom-mobile-menu-content-slide {
    overflow: hidden;
    .back-menu-slide {
        background: #feacac;
        color: #fff;
        width: 90px;
        height: 30px;
        display: block;
        padding: 2px 0 0 5px;
        font-size: 20px;
        cursor: pointer;
        @include border-radius(5px);
        float: right;
        svg {
            margin: 0 5px -3px 0;
        }
        @include lg {
            display: none;
        }
    }
    .top-menu-mobile-tools {
        margin-bottom: 20px;
        float: left;
        width: 100%;
        @include lg {
            display: none;
        }
        .close-menu-mobile {
            float: left;
        }
    }
    .menu-content-slide {
        margin-left: 0;
        width: 100%;
        position: relative;
        transition: 0.5s;
        .menu-wrapper {
            ul {
                width: 100%;
            }
            li {
                svg {
                    display: none;
                }
            }
        }
    }
    .lang-currency {
        a {
            padding-top: 5px;
        }
    }
    .wooc_sclist {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        transition: 0.5s;
        height: 100%;
        overflow: auto;
        a {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            img {
                height: 25px;
                width: 25px;
                background: #fff;
            }
        }
        &.show-on {
            width: 100%;
            display: block !important;
        }
        > div {
            margin-bottom: 0;
        }
        .wcml_currency_switcher {
            li {
                a {
                    padding-top: 15px;
                    padding-bottom: 10px;
                }
                &.wcml-cs-active-currency {
                    a {
                        &:after {
                            content: "";
                            background: url(../images/Checkbox.png) no-repeat;
                            display: block;
                            width: 25px;
                            height: 21px;
                            position: absolute;
                            right: 0;
                            top: 20px;
                        }
                    }
                }
            }
        }
        .wpml-ls-sidebars-lang_and_currency {
            width: 100%;
            li {
                span {
                    width: auto !important;
                    height: auto !important;
                    margin-right: inherit !important;
                }
                &.wpml-ls-current-language {
                    a {
                        &:after {
                            content: "";
                            background: url(../images/Checkbox.png) no-repeat;
                            display: block;
                            width: 25px;
                            height: 21px;
                            position: absolute;
                            right: 0;
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
}
body.mobilemenu-open,
body.mobilemenu-small-open {
    height: auto !important;
    min-height: 100% !important;
    overflow: hidden !important;
}
@include max-md {
    #custom-mobile-menu-content {
        .profile-pic {
            display: none;
        }
    }
    #top-nav-girl-boy {
        display: none;
    }
    .menu-content-slide {
        .menu-wrapper {
            li {
                border-top: 1px dashed #feacac;
                padding-top: 10px;
                svg {
                    display: inline-block !important;
                    float: right;
                    transform: translate(0, 50%);
                }
            }
        }
    }
}
#custom-mobile-profile-menu {
    margin-top: 25px;
    @include lg {
        display: none;
    }
}
#custom-mobile-profile-menu-content {
    .hello-user {
        text-align: center;
        border-bottom: none;
        margin-bottom: 0;
    }
    .menu-wrapper {
        border-bottom: none;
        li {
            margin-top: -1px !important;
            padding: 5px 0 10px;
            border-top: 1px dashed #feacac;
            border-bottom: 1px dashed #feacac;
            a {
                text-align: left;
            }
        }
    }
}
.top-profile-menu-mobile-tools {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    @include lg {
        display: none;
    }
    .close-profile-menu-mobile {
        float: left;
    }
    .back-menu-slide {
        background: #feacac;
        color: #fff;
        width: 90px;
        height: 30px;
        display: block;
        padding: 2px 0 0 5px;
        font-size: 20px;
        cursor: pointer;
        @include border-radius(5px);
        float: right;
        text-align: left;
        svg {
            margin: 0 5px -3px 0;
        }
        @include lg {
            display: none;
        }
    }
}

.woocommerce-info {
    display: none;
}
@include lg{
    .header-main .et_column.et_col-xs-3.et_col-xs-offset-0 {
        min-width: 355px !important;
    }
}