.archive.category {
    .blog-category-description {
        display: none;
    }
    .actions-box {
        .container-fluid {
            margin-top: 100px;
        }
        //Search form
        .search-box {
            position: relative;
            .search-button {
                @include mitrRegular(24px);
                color: $black_color;
                text-align: right;
                cursor: pointer;
                line-height: 65px;
                &:hover {
                    .search-icon {
                        background: {
                            image: url(../images/search-icon.svg);
                            position: center;
                            size: 40px 40px;
                            repeat: no-repeat;
                        }
                    }
                }
            }
            .search-icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                position: relative;
                top: 17px;
                background: {
                    image: url(../images/blog-search-icon.png);
                    position: center;
                    size: 40px 40px;
                    repeat: no-repeat;
                }
            }
            #search-input-box {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                bottom: -80px;
                right: 0;
                z-index: 1;
                max-width: 500px;
                width: 100%;
                &.active {
                    @include transition(0.5s);
                    opacity: 1;
                    visibility: visible;
                }
                #search-blog-input {
                    border: 1px solid $border_gray_color;
                    box-sizing: border-box;
                    min-height: 70px;
                    padding: 20px 30px;
                    @include mitrRegular(20px);
                    color: $black_color;
                    @include input-placeholder {
                        @include mitrRegular(20px);
                        color: $black_color;
                    }
                    float: left;
                    width: calc(100% - 70px);
                    @include border-radius(5px 0 0 5px);
                }
                input[type="submit"] {
                    @include mitrRegular(34px);
                    @include border-radius(0 5px 5px 0);
                    border: 1px solid $main_color;
                    color: $main_color;
                    background: {
                        image: url(../images/search-icon.svg);
                        position: center;
                        size: 40px 40px;
                        repeat: no-repeat;
                        color: white;
                    }
                    text-align: center;
                    width: 70px;
                    height: 70px;
                    &:hover, &:focus {
                        background: {
                            image: url(../images/submit-blog-search-hover.png);
                            position: center;
                            size: 40px 40px;
                            repeat: no-repeat;
                            color: $main_color;
                        }
                    }
                    float: left;
                }
            }
        }

        .sorting-post {
            #shorting-post {
                @include border-radius(5px);
                height: 45px;
                max-width: 255px;
                width:100%;
                @include mitrRegular(20px);
                color: $black_color;
    
                display: inline-block;
            }
            label {
                @include mitrRegular(17px);
                color: $black_color;
            }
        }
    }

    .page-title {
        text-align: center;
        margin-top: 70px;
        h1 {
            @include mitrRegular(60px);
            color: $black_color;
            margin-bottom: 0 !important;
        }
    }
    .choose-category {
        position: relative;
        top: -45px;
        margin-bottom: 15px;
        text-align: center;
        a {
            @include buttonLargeStyle();
            line-height: 88px;
            max-width: 350px;
        }
    }
    .search-result-count {
        margin-bottom: 30px;
        @include mitrRegular(17px);
        color: $black_color;
        .found-count {
            color: $main_color;
        }
        .keyword {
            text-decoration: underline;
        }
    }
    .not-found-post {
        @include mitrRegular(34px);
        color: $black_color;
        margin-top: 180px;
        text-align: center;
        margin-bottom: 325px;
    }
    #loadmorepost {
        @include buttonLargeStyle();
        max-width: 350px;
        margin: {
            top: 60px;
            bottom: 90px;
        }
    }
}
// grid 
.custom-blog-row {
    width: auto;
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
        float: none;
    }
    @include lg{
        .custom-col {
            background: {
                size: cover;
                repeat: no-repeat;
                position: center;
            }
            height: 600px;
            float: left;
            box-sizing: border-box;
            padding: 30px;
            @include border-radius(5px);
            overflow: hidden;
            position: relative;
            margin-bottom: 30px;
            &:before {
                position: absolute;
                top: 0; bottom: 0 ; left: 0; right: 0;
                background-color: white;
                opacity: 0.4;
                content: '';
            }
            //grid style 50 -> 25 -> 25
            &:nth-child(6n+1) {
                width: calc(45% - 30px);
                margin-right: 30px;
            }
            &:nth-child(6n+2) {
                width: calc(27% - 30px);
                margin-right: 30px;
            }
            &:nth-child(6n+3) {
                width: calc(28%);
            }

            //grid style 25 -> 25 -> 50
            &:nth-child(6n+4) {
                width: calc(27% - 30px);
                margin-right: 30px;
            }
            &:nth-child(6n+5) {
                width: calc(28% - 30px);
                margin-right: 30px;
            }
            &:nth-child(6n+6) {
                width: calc(45%);
            }
            .desc-wrapper {
                position: absolute;
                bottom: 30px;
                left: 30px;
                right: 30px;
                width: auto;
                h3 {
                    @include mitrRegular(34px);
                    color: $black_color;
                    margin-bottom: 20px;
                }
                .post-date {
                    @include mitrRegular(17px);
                    color: $black_color;
                }
            }
            a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .post-wrapper {
                height: 600px;
            }
        }
    }
}

//blog single post
.blog-single-post {
    .feature-image {
        position: relative;
        height: 520px;
        overflow:hidden;
        @include border-radius(5px);
        img {
            position: absolute;
            width: 100%;
            height: auto;
            margin: auto auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .page-title {
        text-align: center;
        margin-top: 70px;
        h2 {
            @include mitrRegular(60px);
            color: $black_color;
            margin-bottom: 0 !important;
        }
    }
    h1.post-title {
        @include mitrRegular(34px);
        display: block;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .post-date {
        @include mitrRegular(17px);
        color: $main_color;
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }
    article {
        padding: 0 20px;
    }
    .share-post {
        margin-bottom: 90px;
        .share-title {
            display: block !important;
            float: left;
            @include mitrRegular(20px);
            margin-right: 20px;
        }
        .menu-social-icons  {
            float: left;
            .et-icon {
                font-size: 20px;
            }
        }
        display: block !important;
        justify-content: unset !important;
        border: 0 !important;
    }
    .page-breadcrumb {
        padding: {
            top: 0;
            bottom: 20px;
        }
    }
}

