.woocommerce-checkout {
    .before-checkout-form {
        .notice-fill-billing-info {
            display: none;
        }
    }
    .woocommerce-billing-fields {
        .form-row-wide {
            width: 50%;
            clear: unset !important;
        }
        //field left
        #billing_company_field, #billing_address_1_field
        , #billing_state_field, #billing_phone_field
        {
            float: left;
            padding: 0 15px 0 0;
        }
        //field right
        #billing_country_field, #billing_city_field, #billing_postcode_field, #billing_email_field {
            float: right;
            padding: 0 0 0 15px;
        }
        .step-title {
            @include mitrRegular(24px);
            color: $main_color;
            &:before {
                display: inline-block;
                content: '';
                width: 50px;
                height: 50px;
                @include border-radius(50px);
                position: relative;
                top: 16px;
                margin-right: 15px;
            
                background: {
                    image: url('../images/billing-addr-icon.svg');
                    position: center;
                    size: 28px 38px;
                    repeat: no-repeat;
                    color: $main_color;
                }
            }
        }
        .input-text, .select2-selection {
            @include border-radius(5px);
            height: 70px;
            border: 1px solid $border_gray_color;
            @include mitrRegular(20px);
            color: $black_color;
        }
        .select2-selection {
           padding-top: 17px;
            span {
                @include mitrRegular(20px);
                color: $black_color !important;
            }
        }
        abbr.required {
            color: $main_color !important;
        }
        label {
            color: $black_color !important;
        }
    }
    //password field and shipping note field
    .woocommerce-account-fields, .woocommerce-shipping-fields {
        width: 50%;
        padding: 0 15px 0 0;
    }
    //main form
    .col-md-7 {
        width: calc(100% - 475px);
    }
    //cart item detail
    .cart-order-details {
        width: 475px;
        .order-review {
            background-color: $main_color;
            thead {
                display: table-header-group !important;
            }
            .step-title {
                border-bottom: 0;
                cursor: pointer;
                &.coupon-title {
                    border-bottom: 1px dashed white;
                    padding: 0 0 15px 0;
                    min-height: 50px;
                    &:before {
                        background: {
                            image: url('../images/coupon-icon.svg');
                            size: 26px 28px;
                            repeat: no-repeat;
                            position: center;
                        } 
                    }
                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 26px;
                    height: 28px;
                    margin-right: 15px;
                    position: relative;
                    top: 5px;
                    float: left;
                    background: {
                        image: url('../images/order-sumary-icon.svg');
                        size: 26px 28px;
                        repeat: no-repeat;
                        position: center;
                    }
                }
                &:after {
                    content: '';
                    display: inline-block;
                    width: 15px;
                    height: 10px;
                    margin-left: 15px;
                    position: relative;
                    top: 15px;
                    float: right;
                    background: {
                        image: url('../images/white-arrow-right.svg');
                        size: 15px 10px;
                        repeat: no-repeat;
                        position: center;
                    }
                }
                &.open {
                    border-bottom: 0;
                    &:after {
                        @include transform(rotate(90deg));
                    }
                }
                span {
                    @include mitrRegular(24px);
                    color: white;
                    text-transform: none;
                }
            }
            //order box
            .woocommerce-checkout-review-order {
                .woocommerce-checkout-review-order-table {
                    border-bottom: 0 !important;
                    th {
                        color: white;
                        @include mitrRegular(17px);
                        padding: 0 0 10px 0;
                        &.product-name {
                            text-align: left;
                            padding-left: 15px;
                        }
                        &.product-qty {
                            text-align: center;
                        }
                        &.product-total {
                            text-align: center;
                        }
                    }
                    .cart_item {
                        border-bottom: 1px solid white;
                        td {
                            padding: 15px 0 !important;
                            color: white;
                            @include mitrRegular(17px);
                            &.product-name {
                                .product-img {
                                    width: 65px;
                                    height: auto;
                                    float: left;
                                }
                                .product-detail {
                                    float: left;
                                    width: calc(100% - 65px);
                                    padding: 10px 0 0 15px;
                                    color: white;
                                    @include mitrRegular(17px);
                                }
                            }
                            &.product-qty {
                                text-align: center;
                                color: white;
                                @include mitrRegular(17px);
                            }
                            &.product-total {
                                text-align: center;
                                color: white !important;
                                @include mitrRegular(17px);
                                .amount {
                                    color: white !important;
                                }
                            }
                            .variation {
                                color: white;
                                @include mitrRegular(17px);
                                .variation-color {
                                    display: none !important;
                                }
                                br {
                                    display: none !important;
                                }
                            }
                        }
                    }
                    tfoot{
                        tr:not(.order-total) {
                            th, td{
                                vertical-align: middle;
                                color: white;
                                @include mitrRegular(20px);
                            }
                            td {
                                &:before {
                                    content: ':';
                                    display: block;
                                    float: left;
                                }
                            }
                            &:first-child {
                                th {
                                    padding: 30px 0 0 0 !important;
                                }
                            }
                            &:last-child {
                                th {
                                    padding: 0 0 30px 0 !important;
                                }
                            }
                        }
                    }
                    .order-total {
                        border: {
                            top: 1px solid white;
                            bottom: 1px solid white;
                        }
                        th {
                            color: white;
                            @include mitrRegular(34px);
                            vertical-align: middle;
                            padding: 3px 0 !important;
                        }
                        td {
                            padding: 0 !important;
                            vertical-align: middle;
                            @include mitrRegular(34px);
                            padding: {
                                top: 0 !important;
                                bottom: 0 !important;
                            }
                        }
                        color: white;
                        @include mitrRegular(34px);
                    }
                    .amount {
                        color: white !important;
                    }
                } 
            }
            //payment box
            .woocommerce-checkout-payment {
                border-top: 0 !important;
                color: white;
                label {
                    color: white !important;
                }
                a, a:hover, a:visited, a:link, a:focus {
                    color: white;

                }
                #pwgc-redeem-gift-card-form {
                    display: none !important;
                }
            }
            //confirm payment
            #place_order {
                @include border-radius(5px);
                color: white;
                @include mitrRegular(34px);
                text-align: center;
                height: 90px;
                padding: 15px;
                width: 100%;
                max-width: 388px;
                border: 1px solid white;
                &:hover {
                    background-color: white;
                    color: $main_color;
                    border-color: $main_color;
                    opacity: 1 !important;
                }
            }
            //coupon and gift card form
            .coupon-wrapper {
                color: white;
                border-bottom: 1px dashed white;
                margin-bottom: 15px;
                > p {
                    @include mitrRegular(17px);
                    margin-bottom: 10px !important;
                }
                .input-text {
                    @include border-radius(5px);
                    height: 70px;
                    border: 1px solid #E5E5E5;
                    @include mitrRegular(17px);
                    color: $black_color;
                    @include input-placeholder {
                        color: $black_color;
                        @include mitrRegular(17px);
                    }
                }
                #submitFormCoupon {
                    @include border-radius(5px);
                    color: white;
                    @include mitrRegular(20px);
                    text-align: center;
                    width: 100%;
                    height: 50px;
                    background-color: $main_color;
                    border: 1px solid white;
                    &:hover {
                        background-color: white;
                        color: $main_color;
                        border-color: $main_color;
                    }
                }
                .woocommerce-error, .woocommerce-message {
                    margin: 0 0 20px 0 !important;
                    background: transparent;
                    border: 0;
                    padding: 0;
                    @include mitrRegular(17px);
                    padding-left: 25px !important;
                    &:before {
                        left: 0;
                    }
                }

                //gift card form
                #pwgc-redeem-gift-card-form {
                    @include mitrRegular(20px);
                    color: white;
                    margin-top: 30px;
                    border-top: dashed 1px  white;
                    padding-top: 30px;
                    label[for="pwgc-redeem-gift-card-number"] {
                        @include mitrRegular(17px);
                    }
                    #pwgc-redeem-gift-card-number {
                        @include textInputLargeStyle();
                        @include mitrRegular(17px);
                    }
                    #pwgc-redeem-error {
                        position: relative;
                        color: white !important;
                        padding: 10px 0 0 25px;
                        overflow: hidden;
                        @include mitrRegular(17px);
                        &:before {
                            content: "\e900";
                            position: absolute;
                            font-family: 'xstore-icons';
                            border-radius: 50%;
                            left: 0;
                            padding: 0;
                            top: auto;
                            background: transparent;
                            font-style: normal;
                            box-sizing: border-box;
                        }
                    }
                    #pwgc-redeem-button {
                        @include border-radius(5px);
                        color: white;
                        @include mitrRegular(20px);
                        text-align: center;
                        width: 100%;
                        height: 50px;
                        background-color: $main_color;
                        border: 1px solid white;
                        margin: {
                            bottom: 20px !important;
                            top: 20px !important;
                        }
                        &:hover {
                            background-color: white;
                            color: $main_color;
                            border-color: $main_color;
                        }
                    }
                }
            }

            .wc_payment_method {
                label {
                    @include mitrRegular(17px);
                }
                &.payment_method_omise {
                    // Omise form for payment by credit card
                    #omise_cc_form {
                        #new_card_form {
                            padding: 0 !important;
                            border: 0 !important;
                        }
                        .input-text {
                            @include textInputLargeStyle();
                            width: 100%;
                            @include mitrRegular(17px);
                        }
                        .form-row, .form-row-last {
                            width: 100%;
                            padding: 0 !important;
                        }
                        .form-row {
                            margin-bottom: 30px;
                        }
                                                
                        //use existing credit card
                        h3 {
                            @include mitrRegular(17px);
                            color: white;
                        }
                        .omise-customer-card-list {
                            @include box-shadow(none !important);
                            .item {
                                margin-bottom: 0 !important;
                                text-align:  left !important;
                            }
                            .item + .item {
                                margin-bottom: 30px;
                            }
                        }
                    }
                }

                //installments
                &.payment_method_omise_installment {
                    margin: 0 !important;
                    padding: 0 !important;
                    .payment_method_omise_installment {
                        padding: 0 !important;
                    }
                    .omise-installment-interest-rate {
                        @include mitrRegular(17px !important);
                        color: white !important;
                    }
                    #omise-form-installment {
                        border: 0;
                        margin: 0 !important;
                        padding: 0 !important;
                        .omise-banks-list {
                            margin: 0 !important;
                            .item {
                                border-bottom: 1px dashed white;
                            }
                            select {
                                @include border-radius(5px);
                                @include mitrRegular(17px);
                                color: white;
                            }
                        }
                    }
                }
                &.payment_method_omise_internetbanking {
                    margin: 0 !important;
                    padding: 0 !important;
                    .payment_method_omise_internetbanking {
                        padding: 0 !important;
                    }
                    .omise-secondary-text {
                        @include mitrRegular(17px !important);
                        color: white !important;
                    }
                    #omise-form-internetbanking {
                        border: 0;
                        margin: 0 !important;
                        padding: 0 !important;
                        .omise-banks-list {
                            margin: 0 !important;
                            .item {
                                border-bottom: 1px dashed white;
                            }
                            select {
                                @include border-radius(5px);
                                @include mitrRegular(17px);
                                color: white;
                            }
                        }
                    }
                }
                &.payment_method_omise_truemoney {
                    #omise-form-truemoney {
                        border: 0 !important;
                        @include mitrRegular(17px);
                    }
                }
            }
            .omise-buttom-note p {
                @include mitrRegular(17px);
                color: white;
                padding-left: 20px;
            } 
            .payment_method_omise_paynow p, .omise-secondary-text {
                @include mitrRegular(17px);
                color: white;

            }
        }
    }
    //hide alert box of reward system plugin
    .woocommerce-info.rs_checkout_message {
        display: none !important;
    }
    .woocommerce-info {
        &.sumo_available_points {
            display: none !important;
        }
    }
    //login form
    .woocommerce-form-login {
        max-width: 920px;
        width: 100%;
        border: 1px solid $main_color;
        padding: 60px 95px 78px;
        @include border-radius(5px);
        margin-top: 60px;
        height: auto;
        .woocommerce-form-row {
            margin-bottom: 20px;
        }
        .login-header {
            @include mitrRegular(20px);
            color: $main_color;
            line-height: 80px;
            margin-bottom: 20px;
            .login-icon {
                width: 50px;
                height: 50px;
                display: inline-block;
                margin-right: 15px;
                background: {
                    image: url('../images/login-icon.svg');
                    position: center;
                    size: 25px 25px;
                    repeat: no-repeat;
                    color: $main_color;
                }
                position: relative;
                top: 15px;
                @include border-radius(50px);
            }
        }
        .et-facebook-login-wrapper {
            margin: {
                top: 20px;
                bottom: 5px;
            }
            .fb-login-icon {
                width: 50px;
                height: 50px;
                display: inline-block;
                background: {
                    image: url('../images/fb-login-icon.svg');
                    position: center;
                    size: 50px 50px;
                    repeat: no-repeat;
                }
                position: relative;
                top: 15px;
            }
            .et-facebook-login-button {
                @include mitrRegular(17px);
                color: $black_color;
                background-color: transparent !important;
                width: auto;
                display: inline-block;
                text-decoration: underline;
                &:hover {
                    background-color: transparent !important;
                    color: $black_color;
                }
                i {
                    margin-right: 15px;
                }
            }
        }
        button[name="login"] {
            @include buttonStyle();
            min-height: 90px;
            @include mitrRegular(34px);
            max-width: 445px;
        }
        input.input-text {
            @include textInputLargeStyle();
        }
        .woocommerce-form-login__rememberme {
            color: $black_color;
        }
        .lost_password {
            a {
                color: $border_black_color;
            }
        }
        .none-acc-checkout-wrapper {
            border-top: 1px dashed $main_color;
            padding: {
                top: 50px;
            }
            margin-top: 60px;
            .none-acc-header {
                @include mitrRegular(20px);
                color: $main_color;
                line-height: 80px;
                margin-bottom: 10px;
                .none-acc-icon {
                    width: 50px;
                    height: 50px;
                    display: inline-block;
                    background: {
                        image: url('../images/none-acc-checkout-icon.svg');
                        position: center;
                        size: 25px 25px;
                        repeat: no-repeat;
                        color: $main_color;
                    }
                    position: relative;
                    top: 15px;
                    @include border-radius(50px);
                }
            }
            p {
                @include mitrRegular(20px);
                margin-bottom: 40px;
            }
            #hideLoginForm {
                @include buttonStyle();
                min-height: 90px;
                @include mitrRegular(34px);
                max-width: 445px;
                width: 100%;
                line-height: 1.5;
                padding: 15px 30px;
                text-align: center;
            }
        }
    }
    .woocommerce-info {
        @include mitrRegular(20px);
        color: $black_color;
        margin-top: 15px !important;
        &:before {
            display: none !important;
        }
        .showlogin {
            color: $main_color;
            text-decoration: underline;
        }
    }
    .notice-fill-billing-info {
        @include mitrRegular(20px);
        color: $black_color;
        margin-bottom: 0;
    }
    .checkout-title {
        @include mitrRegular(60px);
        text-align: center;
        color: $main_color;
    }
    .cart-checkout-nav {
        @include mitrRegular(15px);
        text-align: left;
        padding: {
            bottom: 25px;
        }
        a, .delimeter {
            color: $gray_color;
        }
        .no-click {
            color: $main_color;
        }
    }
    .checkout-wrapper {
        position: relative;
        .login-wrapper {
            position: absolute;
            width: calc(100% - 475px);
            height: auto;
            background-color: white;
            z-index: 100;
        }
        #customer_details {
            &.element-invisible {
                visibility: hidden;
                position: relative;
                &:before {
                    content: '';
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    background-color: white;
                    visibility: visible !important;
                }
            }
        }
    }
}