body.home {
    .news-blog-tabs-container {
        .elementor-column-wrap {
            padding: 0 !important;
        }
        .news-and-blog-tab-homepage {
            .et-tabs-nav {
                margin-bottom: 60px;
                .et-tab-nav {
                    border: 1px solid $main_color;
                    @include border-radius(5px);
                    height: 60px;
                    min-width: 160px;
                    .et-tab-title {
                        color: $main_color;
                        @include mitrRegular(24px);
                    }
                    &.inactive {
                        border-color: $gray_color;
                        .et-tab-title {
                            color: $gray_color !important;
                        }
                    }
                    &.active:after{
                        display: none !important;
                    }
                    &.inactive:after {
                        display: none !important;
                    }
                }
            }
            .et-tabs-content {
                .clearfix {
                    padding: 0;
                }
            }
            //this element is added by reward plugin, we don't need to it.
            .rs_social_sharing_buttons {
                display: none !important;
            }
        }
        .custom-blog-row {
            width: auto;
            margin: {
                left: 30px;
                right: 30px;
            }
        }
        .view-more {
            @include buttonStyle();
            height: 50px;
            max-width: 350px;
            width: 100%;
            text-align: center;
            display: block !important;
            margin: 60px auto 0 auto;
            line-height: 47px;
        }
    }
    
    .container-fluid.content-page {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
        .best-seller-products {
            .swiper-entry { 
                .swiper-button-prev {
                    width: 50px;
                    height: 50px;
                    @include border-radius(50px);
                    border: 2px solid $gray_color;
                    background-color: transparent;
                    left: 30px;
                    &:hover {
                        border: 2px solid $main_color;
                        background-color: $main_color;
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 10px;
                            height: 15px;
                            @include transform(rotate(180deg));
                            @include transition(none);
                            background: {
                                image: url(../images/white-arrow-right.svg) !important;
                                position: center;
                                repeat: no-repeat;
                                size: 100% auto;
                            }
                        }
                    }
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 15px;
                        background: {
                            image: url(../images/gray-arrow-left.svg);
                            position: center;
                            repeat: no-repeat;
                            size: 100% auto;
                        }
                    }
                }
                .swiper-button-next {
                    width: 50px;
                    height: 50px;
                    @include border-radius(50px);
                    border: 2px solid $gray_color;
                    background-color: transparent;
                    right: 30px;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 15px;
                        @include transform(rotate(180deg));
                        @include transition(none);
                        background: {
                            image: url(../images/gray-arrow-left.svg);
                            position: center;
                            repeat: no-repeat;
                            size: 100% auto;
                        }
                    }
                    &:hover {
                        border: 2px solid $main_color;
                        background-color: $main_color;
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 10px;
                            height: 15px;
                            @include transform(rotate(0deg));
                            @include transition(none);
                            background: {
                                image: url(../images/white-arrow-right.svg) !important;
                                position: center;
                                repeat: no-repeat;
                                size: 100% auto;
                            }
                        }
                    }
                }
                
            @include lg{
                .swiper-wrapper {
                    .slide-item {
                        margin-right: 0 !important;
                        .product-content-image {
                            @include border-radius(5px);
                            overflow: hidden;
                        }
                        .product-view-default .wishlist-fragment a:before {
                            font-size: 30px !important;
                        }
                        .product-details {
                            .product-title, .price {
                                a {
                                    @include mitrRegular(20px);
                                    color: $black_color;
                                    &:hover, &:focus, &:active {
                                        color: $black_color;
                                    }
                                }
                            }
                            .price {
                                @include mitrRegular(20px);
                                color: $black_color;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}