
body.minicart-open {
    height: auto !important;
    min-height: 100% !important;
    overflow: hidden !important;
}
#header {
    .et_b_header-cart {
        //do not show cart popup when mouse over
        &:hover .et-mini-content {
            visibility: hidden;
        }
        .et-mini-content {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: $main_color;
            width: 445px;
            opacity: 0;
            visibility: hidden;
            @include transition(0.5s);
            &.visible {
                @include transition(0.5s);
                opacity: 1;
                visibility: visible;
            }
            .et-content {
                .cart-widget-products {
                    overflow-y: scroll;
                    max-height: 500px;
                    height: auto;
                    overflow-x: hidden;
                    padding: 0 3px 0 0;
                    border-bottom: 1px dashed white;
                    &::-webkit-scrollbar {
                        width: 15px;
                    }
                    &::-webkit-scrollbar-track {
                    background-color: $main_color;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #FEACAC; 
                        border-radius: 10px;
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: #f59292; 
                    }
                    .woocommerce-mini-cart-item {
                        padding: 0 !important;
                        //remove product button
                        .remove_from_cart_button {
                            width: 22px;
                            height: 29px;
                            top: 365px !important;
                            right: 33px;
                            background: {
                                image: url(../images/bin-icon.svg);
                                position: center;
                                size: 100% auto;
                                repeat: no-repeat;
                            }
                            .et-delete {
                                display: none !important;
                            }
                        }
                        // product image
                        .product-mini-image {
                            display: block;
                            float: none !important;
                            clear: both !important;
                            width: 350px !important;
                            height: 350px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: auto;
                                max-width: 100%;
                                max-height: unset !important;
                                float: none !important;
                                clear: both !important;
                            }
                        }
                        .product-item-right {
                            color: white;
                            @include mitrRegular(17px);
                            margin-top: 15px;
                        }
                        .variation, .variation-color {
                            color: white;
                            opacity: 1 !important;
                        }
                        .product-title {
                            @include mitrRegular(17px);
                        }
                    } 
                }
                .woocommerce-mini-cart__footer-wrapper {
                    //subtotal
                    .cart-popup-footer {
                        color: white;
                        padding-bottom: 20px;
                        .btn-view-cart {
                            display: none;
                        }
                        .cart-widget-subtotal {
                            color: white;
                            @include mitrRegular(34px);
                            text-align: center;
                        }
                    }
                    .btn-checkout, .btn-view-cart {
                        @include border-radius(5px);
                        color: white;
                        @include mitrRegular(34px);
                        text-align: center;
                        height: 90px;
                        padding: 15px;
                        width: 100%;
                        max-width: 388px;
                        border: 1px solid white;
                        line-height: 1.6;
                        margin: 0 auto;
                        &:hover {
                            background-color: white;
                            color: $main_color;
                            border-color: $main_color;
                            opacity: 1 !important;
                        }
                    }
                    .btn-view-cart {
                        margin-bottom: 20px;
                    }
                    //HIDE free shipping box
                    .woocommerce-mini-cart__footer {
                        display: none;
                    }
                }
                
            }
        }
    }

    //search 
    .et_b_header-search {
        //do not show search box when mouse hover
        &:hover .et-mini-content {
            visibility: hidden !important;
        }
        .et-mini-content {
            &.visible {
                visibility: visible !important;
                animation-duration: 0s;
                opacity: 1;
            }
        }
    }
}