.woocommerce-account {
   .term-and-condition-wrapper {
      .elementor-accordion-item {
         &:first-of-type {
            border-top: 0 !important;
         }
         border: {
            left: 0;
            right: 0;
         }
      }
      .elementor-tab-content {
         border: 0 !important;
         padding: {
            left: 0;
            right: 0;
         }
      }
   }
}