body.woocommerce-account {
   #omise_card_panel {
      h4 {
         @include mitrRegular(34px);
         color: $black_color;
      }
      #omise_cc_form {
         fieldset {
            @include border-radius(5px);
            border:1px solid $border_gray_color;
         }
         input {
            @include textInputLargeStyle();
         }
         label {
            @include mitrRegular(24px);
            color: $black_color;
         }
      }
      #omise_add_new_card {
         @include buttonLargeStyle();
      }
      table {
         @include mitrRegular(20px);
         tr {
            th {
               @include mitrRegular(20px);
               color: $main_color;
               border-bottom: 2px solid $border_gray_color;
            }
            td {
               @include mitrRegular(20px);
               color: $black_color; 
               padding: 23px 15px;
            }
            &:nth-child(2n+2) {
               background-color: $border_gray_color;
            }
         }
      }
      .delete_card {
         @include buttonStyle();
      }
   }
   .woocommerce-MyAccount-content {
      //header of omise setting
      h2, h3 {
         @include mitrRegular(34px);
         max-width: 100%;
         border: 0;
         margin-bottom: 0;
         text-align: left;
      }
   }
}