.woocommerce-order-received {
    .cart-checkout-nav {
        display: none !important;
    }
    .woocommerce-order {
        margin-top: 200px;
        text-align: center;
        .woocommerce-thankyou-order-received {
            @include mitrRegular(34px);
            margin-bottom: 15px;
            color: $main_color;
            &:before {
                content: '';
                width: 160px;
                height: 154px;
                display: block;
                margin: 0 auto 30px auto;
                background: {
                    image: url(../images/logo-medium-size.svg);
                    size: 160px 154px;
                    position: center;
                    repeat: no-repeat;
                }
            }
        }
        .note {
            @include mitrRegular(20px);
            color: $black_color;
            text-align: center;
            margin-bottom: 45px;
        }
        .btn-style.big {
            max-width: 445px;
            width: 100%;
        }

    }
    .footer-newsletter, .et-footers-wrapper {
        display: none !important;
    }
}