.page-breadcrumb {
    .container-fluid {
        padding: {
            left: 15px !important;
            right: 15px !important;
        }
    }
}
.page-template-default {
    .page-title {
        text-align: center;
        margin-top: 70px;
        h1 {
            @include mitrRegular(60px);
            color: $black_color;
            margin-bottom: 0 !important;
        }
    }
    
    //force strong tag color
    .elementor-text-editor {
        strong {
            color: $black_color;;
            @include mitrRegular(20px);
        }
    }
}

//FAQ
.faq-box {
    .elementor-accordion-item {
        .elementor-tab-title {
            &:before {
                content: 'Q:';
                @include mitrRegular(24px);
                color: white;
                width: 40px;
                height: 40px;
                background-color: $main_color;
                @include border-radius(40px);
                display: inline-block;
                text-align: center;
                line-height: 36px;
                margin-right: 10px;
            }
        }
        &:first-of-type {
           border-top: 0 !important;
        }
        border: {
           left: 0;
           right: 0;
        }
     }
     .elementor-tab-content {
        border: 0 !important;
        padding: {
           left: 55px;
           right: 0;
        }
        position: relative;
        &:before {
            content: 'A:';
            @include mitrRegular(24px);
            color: white;
            width: 40px;
            height: 40px;
            background-color: $black_color;
            @include border-radius(40px);
            display: block;
            text-align: center;
            line-height: 36px;
            position: absolute;
            top: 15px;
            left: 0;
        }
    }
}
@include lg{
    .single-product-wide .product-images{
        width: 55% !important;
    }
    .single-product .single-product-wide .product-information{
        width: 45% !important;
    }
}