/**
* Variables
*/
$main_color: #EF7A72;
$black_color: #444444;
$border_gray_color: #E5E5E5;
$border_black_color: #BABABA;
$gray_color: $border_black_color;
$light_pink_color: #FEACAC;


$screen-xs-max: 575px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;
$screen-sm-max: 767px;

// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 991px;

// Tablets and small desktops
$screen-lg-min: 992px;
$screen-lg-max: 1199px;

// Large tablets and desktops
$screen-xl-min: 1200px;